<ng-template #success>
  <app-success id="login" [cont]="content" ></app-success>
</ng-template>
<ng-template #warning>
<app-warning id="login" [cont]="content" ></app-warning>
</ng-template>
<ng-template #error>
<app-error id="login" [cont]="content" ></app-error>
</ng-template>

<div class="thirdNavbar">
  <div class="leftNavContent">
    <button class="button">
      <span class="material-symbols-outlined"> filter_list </span>
      <span style="margin: 0 1rem">My {{ title }}</span>
      <span class="material-symbols-outlined"> expand_more </span>
    </button>
    <button
      class="button buttonMainAction"
      (click)="showDialog(dialogAddLeads, 'auto')"
    >
      <span class="material-symbols-outlined"> add </span>
      <span style="margin: 0 1rem">Add {{ title }}</span>
    </button>
  </div>
  <div class="rightNavContent">
    <button
      class="button buttonRightNavContent"
      style="padding: 0.25rem 1rem; min-width: max-content"
    >
      <span class="material-symbols-outlined"> rule_settings </span>
    </button>
    <button class="button buttonRightNavContent">
      <span class="material-symbols-outlined"> chevron_left </span>
      <span style="margin: 0 1rem">1 to 2</span>
      <span class="material-symbols-outlined"> chevron_right </span>
    </button>
  </div>
</div>

<!-- DIALOG -->
<ng-template id="dialogAddLead" #dialogAddLeads let-observer>
  <!--FORM CHỨA NỘI DUNG DIALOG-->
  <form
    id="form-container"
    [formGroup]="exampleForm"
    (ngSubmit)="observer.complete()"
  >
    <!--CHỮ TỰA ĐỀ CỦA DIALOG-->
    <p id="header-dialog">Add Lead</p>

    <!--DIV CHỨA NỘI DUNG DIALOG-->
    <div class="contents-dialog-lead">
      <!--DIV FIRST NAME-->
      <div class="container-dialog">
        <p class="title-dialog">First name</p>
        <tui-input
        [formControl]="firstName"
          style="outline: none !important"
          class="input-dialog"
          tuiTextfieldSize="s"
          [(ngModel)]="name"
          (ngModelChange)="onModelChangeName($event)"
        >
          Type first name
        </tui-input>
      </div>

      <!--DIV LAST NAME-->
      <div class="container-dialog">
        <p class="title-dialog">Last name</p>
        <tui-input
        [formControl]="lastName2"
          class="input-dialog"
          tuiTextfieldSize="s"
          [(ngModel)]="lastName"
          (ngModelChange)="onModelChangeLastName($event)"
        >
          Type last name
        </tui-input>
      </div>

      <!--DIV COMPANY-->
      <div class="container-dialog">
        <p class="title-dialog">Company</p>
        <tui-input
        [formControl]="company2"
          class="input-dialog"
          tuiTextfieldSize="s"
          [(ngModel)]="company"
          (ngModelChange)="onModelChangeCompany($event)"
        >
          Type company
        </tui-input>
      </div>

      <!--DIV EMAIL-->
      <div class="container-dialog">
        <p class="title-dialog">Email</p>
        <tui-input
        [formControl]="email2"
          class="input-dialog"
          tuiTextfieldSize="s"
          [(ngModel)]="email"
          (ngModelChange)="onModelChangeEmail($event)"
        >
          Type here
        </tui-input>
      </div>

      <!--DIV PHONE-->
      <div class="container-dialog">
        <p class="title-dialog">Phone</p>
        <tui-input-phone-international
          [formControl]="phone2"
          class="input-dialog"
          [countries]="(phones | tuiSortCountries | async) || []"
          [(countryIsoCode)]="countryIsoCode"
          [tuiTextfieldLabelOutside]="true"
          tuiTextfieldSize="m"
          style="border-radius: 8px"
        >
          (optional)
        </tui-input-phone-international>
      </div>

      <!--DIV ASSIGNED TO-->
      <div class="container-dialog">
        <p class="title-dialog">Assigned to</p>

        <tui-combo-box
          class="input-dialog"
          [formControl]="controlAssignments"
          [stringify]="stringifyAssignment"
          tuiTextfieldSize="s"
        >
          Choose/Type here

          <tui-data-list-wrapper
            *tuiDataList
            [items]="assignments | tuiFilterByInputWith : stringifyAssignment"
            [itemContent]="stringifyAssignment | tuiStringifyContent"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </div>
    </div>

    <!--DIV NÚT CANCEL VÀ SAVE-->
    <div class="cancel-save">
      <button class="button-cancel" type="submit">Cancel</button>
      <button class="button-add"(click)="addLead()">Add</button>
    </div>
  </form>
</ng-template>
