$Blue : #58c2ce;
$Blue2: #2C698D;
$Blue3: #272643;
$Blue0: #BAE8E8;
$LightGray:#F2F2F2;

//CSS CỦA TRANG RỖNG
.emptyPage{
    margin-top: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto
}

//SIZE CỦA ẢNH, MN TỰ CHỈNH SỬA BẰNG VH VÀ VW CHO THÍCH HỢP
.emptyPageImage{
    height: 40vh;
    width: 50vh;
}
.emptyPageContentContainer{
    margin-top: 2rem;
    display: block;
}
.emptyPageContent{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    color: $Blue2;
    font-size: medium;
}

.button{
    background-color: #fff;
    color: $Blue;
    min-width: 10rem;
    border-radius: 8px;
    border: 2px solid $Blue;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buttonMainAction{
    background-color:$Blue ;
    color: #fff;
}

//dialog
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-event {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .title-dialog {
    margin-top: 0;
  }

.all-label {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .all-label label {
    font-size: 16px;
    font-weight: 500;
    color: #58C2CE;
  }
  
  .all-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .tui-input {
    width: 300px;
    border: 1px solid #58C2CE;
  }

  .btn-save {
    border-radius: 8px;
    background-color: #58C2CE;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
  }

  .box-form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top: 2px solid #58C2CE;
    height: 440px;
  }

  .cancel-save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
  }

  .btn-cancel {
    border-radius: 8px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid #58C2CE;
    color: #58C2CE;
    cursor: pointer;
  }

