#container{
    width: 100%;
    height: 4rem;
    background-color: #58c2ce;
    display: flex;
    color: white;
    font-size: 1.2rem;
    // border: 1px red solid;
}

#left-navbar{
    width: 50%;
    height: 100%;
    // background-color: bisque;
    padding-left: 2rem;
}

#right-navbar{
    width: 50%;
    height: 100%;
    // background-color: beige;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.right-navbar-content{
    width: 50%;
    height: 100%;
    // background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right-navbar-content div{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:normal;
}


.left-navbar-content{
    width: 60%;
    height: 100%;
    // background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-navbar-content div{
    width: 20%;
    height: 70%;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:normal;
}
.sign-up{
    background-color: #2C698D;
    border-radius: 8px;
    padding: 0 2rem;
}
.logo{
    margin: 0 1rem;
}
.contact{
    // background-color: #2C698D;
    padding: 0 2rem;
}
.contact:hover{
    background-color: #2C698D;
    border-radius: 8px;
    padding: 0 2rem;
    height: 100%;
    width: 4rem;
}

.about-us{
    padding: 0 2rem;
}

.login{
    padding: 0 2rem;
}

.about-us:hover{
    background-color: #2C698D;
    border-radius: 8px;
    height: 100%;
    padding: 0 2rem;
}

.login:hover{
    background-color: #2C698D;
    border-radius: 8px;
    padding: 0 2rem;
    height: 100%;
    width: 4rem;
}