$Blue: #58c2ce;
$Blue2: #2c698d;
$Blue3: #272643;
$White: #ffff;

#container{
    width: 100%;
    height: 4rem;
    background-color: #58c2ce;
    display: flex;
    color: white;
    font-size: 1.2rem;
    // border: 1px red solid;
    box-shadow: 0px 8px 24px #b7d3d6;
    
}

#left-navbar{
    width: 50%;
    height: 100%;
    // background-color: bisque;
    padding-left: 2rem;
}

#right-navbar{
    width: 50%;
    height: 100%;
    // background-color: beige;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.right-navbar-content{
    width: 50%;
    height: 100%;
    // background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.right-navbar-content div{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:normal;
}


.left-navbar-content{
    width: 60%;
    height: 100%;
    // background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-navbar-content div{
    width: 40%;
    height: 70%;
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:normal;
}

.button{
    background-color: $Blue;
    border-radius: 8px;
    padding: 0 2rem;
    margin: 0 0.2rem;
    cursor: pointer;
}

.button p {
    padding: 0;
    margin: 0;
}
.logo{
    margin: 0 1.5rem;
    cursor: pointer;
}

.button:hover{
    background-color: #2C698D;
    border-radius: 8px;
    padding: 0 2rem;
    height: 100%;
    width: 4rem;
    transition: all 0.2s ease;
}

.sign-up{
    background-color: #2C698D;
    cursor: pointer;
}

.sign-up:hover{
    filter: brightness(1.5);
    // box-shadow: 0px 8px 24px $Blue2;
    border-radius: 8px;
    padding: 0 2rem;
    height: 100%;
    width: 4rem;
    transition: all 0.3s ease;
}

a{
    color: #ffff;
    text-decoration: none;
    width: 100px;
}

p{
    font-weight: bold;
}