<div class="contentPage">
    <table>
        <tr *ngIf="(this.organizations | async)">
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>

            <th style="width: max-content; padding: 0.5rem;"><span class="material-symbols-outlined">edit_document</span></th>
            
            <th><b>ORG NAME</b></th>
            <th><b>EMAIL</b></th>
            <th><b>WEBSITE</b></th>
            <th><b>PHONE NUMBER</b></th>
            <th><b>LAST CONTACT ON</b></th>
            <th><b>COUNTRY</b></th>
            <th><b>CITY</b></th>
            <th><b>ACTION</b></th>
          </tr>

          <tr *ngFor="let organization of (this.organizations | async)">
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>
            <td >{{organization.data.attributes.name!}}</td>
            <td></td>
            <td><div *ngIf="organization.data.attributes.website">{{organization.data.attributes.website!}}</div></td>
            <td><div *ngIf="organization.data.attributes.phone_office">{{organization.data.attributes.phone_office!}}</div></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="action">
                <span class="material-symbols-outlined" (click)="showDialog(dialogAddOrg, 'auto', organization)">edit</span>
              <span class="material-symbols-outlined" (click)="deleteOrganization(organization.data.id)">delete</span>
              </div>
            </td>

<!-- DIALOG -->
<ng-template id="dialogAddOrg" #dialogAddOrg let-observer>
  <!--FORM CHỨA NỘI DUNG HIỂN THỊ DIALOG-->
  <form
    id="form-container"
    [formGroup]="exampleForm"
    (ngSubmit)="observer.complete()"
  >
    <!--TỰA ĐỀ BỰ ORGANIZATION-->
    <p id="header-dialog">Add Organization</p>

    <!--DIV CHỨA NỘI DUNG CHÍNH CỦA DIALOG-->
    <div class="contents-dialog-org">
      <!--ORGANIZATION NAME-->
      <div class="container-dialog">
        <p class="title-dialog">Organization name</p>
        <tui-input
          style="outline: none !important"
          class="input-dialog"
          tuiTextfieldSize="s"
          [formControl]="organizationName"
          ngModel="{{organization.data.attributes.name!}}"
        >
          Type here
        </tui-input>
      </div>

      <!--TITLE-->
      <div class="container-dialog">
        <p class="title-dialog">Website</p>
        <tui-input
          class="input-dialog"
          tuiTextfieldSize="s"
          [formControl]="website"
          ngModel="{{organization.data.attributes.website!}}"
        >
          Type here (optional)
        </tui-input>
      </div>

      <!--PHONE-->
      <div class="container-dialog">
        <p class="title-dialog">Phone</p>
        <tui-input-phone-international
          class="input-dialog"
          [countries]="(phones | tuiSortCountries | async) || []"
          [(countryIsoCode)]="countryIsoCode"
          [tuiTextfieldLabelOutside]="true"
          tuiTextfieldSize="m"
          [formControl]="phone"
          ngModel="{{organization.data.attributes.phone_office!}}"
        >
          Type here (optional)
        </tui-input-phone-international>
      </div>

      <!--TYPE-->
      <div class="container-dialog">
        <p class="title-dialog">Type</p>

        <tui-combo-box
          class="input-dialog"
          [formControl]="controlTypes"
          [stringify]="stringifyType"
          tuiTextfieldSize="s"
          ngModel="{{organization.data.attributes.type}}"
          
        >
          Choose/Type here

          <tui-data-list-wrapper
            *tuiDataList
            [items]="types | tuiFilterByInputWith : stringifyType"
            [itemContent]="stringifyType | tuiStringifyContent"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </div>

      <!--ASSIGNED TO-->
      <div class="container-dialog">
        <p class="title-dialog">Assigned to</p>

        <tui-combo-box
          class="input-dialog"
          [formControl]="controlAssignments"
          [stringify]="stringifyAssignment"
          tuiTextfieldSize="s"
          ngModel="{{organization.data.attributes.assigned_to!}}"
        >
          Choose/Type here

          <tui-data-list-wrapper
            *tuiDataList
            [items]="assignments | tuiFilterByInputWith : stringifyAssignment"
            [itemContent]="stringifyAssignment | tuiStringifyContent"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </div>

      <!--STATUS-->
      <div class="container-dialog">
        <p class="title-dialog">Organization status</p>

        <tui-combo-box
          class="input-dialog"
          [formControl]="controlStatuses"
          [stringify]="stringifyStatus"
          tuiTextfieldSize="s"
          ngModel="{{organization.data.attributes.status!}}"
        >
          Choose/Type here

          <tui-data-list-wrapper
            *tuiDataList
            [items]="statuses | tuiFilterByInputWith : stringifyStatus"
            [itemContent]="stringifyStatus | tuiStringifyContent"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </div>
    </div>

    <!--DIV CHỨA NÚT CANCEL VÀ SAVE-->
    <div class="cancel-save">
      <button class="button-cancel" type="submit">Cancel</button>
      <button class="button-add" (click)="updateOrganization(organization)">Update</button>
    </div>
  </form>
</ng-template>


          </tr>
    </table>
  </div>

  



