<div class="contentPage">
    <table>
        <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>

            <th style="width: max-content; padding: 0.5rem;"><span class="material-symbols-outlined">edit_document</span></th>
            
            <th><b>ORG NAME</b></th>
            <th><b>EMAIL</b></th>
            <th><b>WEBSITE</b></th>
            <th><b>PHONE NUMBER</b></th>
            <th><b>LAST CONTACT ON</b></th>
            <th><b>COUNTRY</b></th>
            <th><b>CITY</b></th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let organization of (this.organizations | async)">
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>
            <td >{{organization.attributes.name!}}</td>
            <td></td>
            <td><div *ngIf="organization.attributes.website">{{organization.attributes.website!}}></div></td>
            <td><div *ngIf="organization.attributes.phone_office">{{organization.attributes.phone_office!}}></div></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="action">
                <span class="material-symbols-outlined" >edit</span>
              <span class="material-symbols-outlined" (click)="deleteOrganization(organization.id)">delete</span>
              </div>
            </td>
          </tr>
    </table>
  </div>