/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

tui-dialog[_nghost-ng-c4160801985] {
  border-radius: 8px !important;
  border: none;
}

tui-dialog[data-size="m"][_nghost-ng-c4160801985] {
  width: 55rem;
}

//title checking are you sure ?
tui-dialog[_nghost-ng-c4160801985] .t-heading[_ngcontent-ng-c4160801985] {
  color: #2c698d;
}

//content checking are you sure ?
tui-dialog[_nghost-ng-c4160801985] {
  color: #272643;
}

tui-dialog.t-content[_ngcontent-ng-c267254229] {
  font-weight: 100;
}

//button in checking are you sure ?
// tui-dialog[_ngcontent-ng-c267254229] .t-button[_nghost-ng-c2387760965]{
//   background-color: red;
// }
