
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */



.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
  
*{
  font-family: 'Roboto', sans-serif;
  
}


body {
  margin: 0;
  // font-family: 'Rubik', sans-serif;
}

tui-dialog[_nghost-ng-c4160801985] {
  border-radius: 8px !important;
  border: none;
}

tui-dialog[data-size="m"][_nghost-ng-c4160801985] {
  width: 55rem
}

//title checking are you sure ?
tui-dialog[_nghost-ng-c4160801985] .t-heading[_ngcontent-ng-c4160801985] {
  // color: #2c698d;
}

//content checking are you sure ?
tui-dialog[_nghost-ng-c4160801985] {
  // color: #272643;
}

tui-dialog.t-content[_ngcontent-ng-c267254229] {
  font-weight: 100;
}

:host{
  tui-notification{
    --tui-success-fill: #58C2CE !important;
    --tui-success-bg: #58c2ce !important;
  }
  --tui-primary: #58C2CE !important;
  --tui-primary-hover: #58C2CE !important;
  --tui-primary-active: #58C2CE !important;
  --tui-success-fill: #58C2CE !important;
  --tui-success-bg: #58c2ce !important;

  --tui-text-01: #fff;
  // --tui-base-01: #58C2CE;
  // --tui-base-02: #58C2CE;
  // --tui-base-03: #58C2CE;
  // --tui-base-04: #58C2CE;
  // --tui-base-05: #58C2CE;
  // --tui-base-06: #58C2CE;
  // --tui-base-07: #58C2CE;
  // --tui-base-08: #58C2CE;
  // --tui-base-09: #58C2CE;
  // --tui-heading-font: 'Montserrat', sans-serif;
  // --tui-text-font: 'Montserrat', sans-serif;
  // --tui-radius-m: 8px;
}
//button in checking are you sure ?
// tui-dialog[_ngcontent-ng-c267254229] .t-button[_nghost-ng-c2387760965]{
//   background-color: red;
// }




// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
