<div class="thirdNavbar">
  <div class="leftNavContent">
    <button class="button">
      <span class="material-symbols-outlined"> filter_list </span>
      <span style="margin: 0 1rem">My {{ title }}</span>
      <span class="material-symbols-outlined"> expand_more </span>
    </button>
    <button
      class="button buttonMainAction"
      (click)="showDialog(dialogAddOrg, 'auto')"
    >
      <span class="material-symbols-outlined"> add </span>
      <span style="margin: 0 1rem">Add {{ title }}</span>
    </button>
  </div>
  <div class="rightNavContent">
    <button
      class="button buttonRightNavContent"
      style="padding: 0.25rem 1rem; min-width: max-content"
    >
      <span class="material-symbols-outlined"> rule_settings </span>
    </button>
    <button class="button buttonRightNavContent">
      <span class="material-symbols-outlined"> chevron_left </span>
      <span style="margin: 0 1rem">1 to 2</span>
      <span class="material-symbols-outlined"> chevron_right </span>
    </button>
  </div>
</div>

<!-- DIALOG -->
<ng-template id="dialogAddOrg" #dialogAddOrg let-observer>
  <!--FORM CHỨA NỘI DUNG HIỂN THỊ DIALOG-->
  <form
    id="form-container"
    [formGroup]="exampleForm"
    (ngSubmit)="observer.complete()"
  >
    <!--TỰA ĐỀ BỰ ORGANIZATION-->
    <p id="header-dialog">Add Organization</p>

    <!--DIV CHỨA NỘI DUNG CHÍNH CỦA DIALOG-->
    <div class="contents-dialog-lead">
      <!--ORGANIZATION NAME-->
      <div class="container-dialog">
        <p class="title-dialog">Organization name</p>
        <tui-input
          style="outline: none !important"
          class="input-dialog"
          tuiTextfieldSize="s"
          [(ngModel)]="name"
          (ngModelChange)="onModelChangeOrgName($event)"
        >
          Type here
        </tui-input>
      </div>

      <!--TITLE-->
      <div class="container-dialog">
        <p class="title-dialog">Website</p>
        <tui-input
          class="input-dialog"
          tuiTextfieldSize="s"
          [(ngModel)]="website"
        >
          Type here (optional)
        </tui-input>
      </div>

      <!--PHONE-->
      <div class="container-dialog">
        <p class="title-dialog">Phone</p>
        <tui-input-phone-international
          class="input-dialog"
          [countries]="(phones | tuiSortCountries | async) || []"
          [(countryIsoCode)]="countryIsoCode"
          [tuiTextfieldLabelOutside]="true"
          tuiTextfieldSize="m"
        >
          Type here (optional)
        </tui-input-phone-international>
      </div>

      <!--TYPE-->
      <div class="container-dialog">
        <p class="title-dialog">Type</p>

        <tui-combo-box
          class="input-dialog"
          [formControl]="controlTypes"
          [stringify]="stringifyType"
          tuiTextfieldSize="s"
        >
          Choose/Type here

          <tui-data-list-wrapper
            *tuiDataList
            [items]="types | tuiFilterByInputWith : stringifyType"
            [itemContent]="stringifyType | tuiStringifyContent"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </div>

      <!--ASSIGNED TO-->
      <div class="container-dialog">
        <p class="title-dialog">Assigned to</p>

        <tui-combo-box
          class="input-dialog"
          [formControl]="controlAssignments"
          [stringify]="stringifyAssignment"
          tuiTextfieldSize="s"
        >
          Choose/Type here

          <tui-data-list-wrapper
            *tuiDataList
            [items]="assignments | tuiFilterByInputWith : stringifyAssignment"
            [itemContent]="stringifyAssignment | tuiStringifyContent"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </div>

      <!--STATUS-->
      <div class="container-dialog">
        <p class="title-dialog">Organization status</p>

        <tui-combo-box
          class="input-dialog"
          [formControl]="controlStatuses"
          [stringify]="stringifyStatus"
          tuiTextfieldSize="s"
        >
          Choose/Type here

          <tui-data-list-wrapper
            *tuiDataList
            [items]="statuses | tuiFilterByInputWith : stringifyStatus"
            [itemContent]="stringifyStatus | tuiStringifyContent"
          ></tui-data-list-wrapper>
        </tui-combo-box>
      </div>
    </div>

    <!--DIV CHỨA NÚT CANCEL VÀ SAVE-->
    <div class="cancel-save">
      <button class="button-cancel" type="submit">Cancel</button>
      <button class="button-add" type="submit">Add</button>
    </div>
  </form>
</ng-template>
