<div class="emptyPage">
  <!--TRANH CỦA TRANG EMPTY - THAY ĐỔI ĐỂ PHÙ HỢP VỚI TRANG-->
  <img src="./assets/At the office-amico.png" class="emptyPageImage" />
  <div class="emptyPageContentContainer">
    <div class="emptyPageContent">
      <b style="text-transform: uppercase">THERE ARE NO {{ title }}</b>
    </div>
    <div class="emptyPageContent">
      Add {{ title }} by clicking the button below
    </div>

    <div class="emptyPageContent" style="margin-top: 1rem">
      <button
        class="button buttonMainAction"
        style="margin-right: 0"
        (click)="emitAddInfo()"
      >
        <span class="material-symbols-outlined"> add </span>
        <span style="margin: 0 1rem">Add {{ title }}</span>
      </button>
    </div>
  </div>
</div>
