<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<div class="second-navbar" style="position: relative; z-index: 100">
  <div class="top-navbar" style="position: relative; z-index: 200">
    <div class="container-logo-user">
      <div class="logo-list-page">
        <svg
          width="89"
          height="51"
          viewBox="0 0 89 51"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="10" y="37" width="69.334" height="4.81486" fill="white" />
          <rect
            x="26.8838"
            y="40.2866"
            width="2.75135"
            height="10.7133"
            fill="white"
          />
          <rect
            width="2.75135"
            height="10.7133"
            transform="matrix(-1 0 0 1 28.168 40.2866)"
            fill="white"
          />
          <path
            d="M44.8594 40.3073C39.7847 40.0643 29.6353 41.8626 29.6353 51"
            stroke="white"
            stroke-width="2"
          />
          <path
            d="M10.1929 40.3073C15.2676 40.0643 25.417 41.8626 25.417 51"
            stroke="white"
            stroke-width="2"
          />
          <rect
            x="61.166"
            y="40.2866"
            width="2.75135"
            height="10.7133"
            fill="white"
          />
          <rect
            width="2.75135"
            height="10.7133"
            transform="matrix(-1 0 0 1 62.4497 40.2866)"
            fill="white"
          />
          <path
            d="M79.1416 40.3073C74.0669 40.0643 63.9175 41.8626 63.9175 51"
            stroke="white"
            stroke-width="2"
          />
          <path
            d="M44.4741 40.3073C49.5488 40.0643 59.6982 41.8626 59.6982 51"
            stroke="white"
            stroke-width="2"
          />
          <rect x="58" width="7" height="34" fill="white" />
          <path
            d="M60 6.49649e-07C60 36.2309 29 35.7684 29 -2.06046e-06"
            stroke="white"
            stroke-width="4"
          />
          <rect x="24" width="7" height="34" fill="white" />
          <path
            d="M63 0C63 10.6667 68.2 32 89 32"
            stroke="white"
            stroke-width="4"
          />
          <path
            d="M26 0C26 10.6667 20.8 32 7.7486e-07 32"
            stroke="white"
            stroke-width="4"
          />
        </svg>
        <ul class="list-page" *ngFor="let page of this.navPages">
          <li class="pageToChoose" (click)="navigateTo(page.route)">
            {{ page.name }}
          </li>
        </ul>
      </div>
      <div class="user">
        <span class="material-symbols-outlined"> account_circle </span>
      </div>
    </div>
  </div>
  <div
    class="bottom-navbar"
    style="display: flex; position: relative; z-index: 1"
  >
    <div
      class="overlay"
      id="sidebar"
      style="display: flex; justify-content: flex-end"
    >
      <app-side-bar [favorites]="navPages"></app-side-bar>
    </div>

    <div
      class="container-title-icons"
      id="title"
      style="position: relative; z-index: 1"
    >
      <div class="title-page">
        <button class="showSideBarButton" (click)="showSideBar()">
          <span class="material-symbols-outlined">menu</span>
        </button>
        <p>{{ title }}</p>
      </div>
    </div>
  </div>
</div>
