$Blue: #58c2ce;
$Blue2: #2c698d;
$Blue3: #272643;
$Blue0: #bae8e8;
$LightGray: #f2f2f2;

.background {
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  background-color: $LightGray;
}

.body {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}


