<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div class="background">
  <div>
    <app-second-navbar [title]="title"></app-second-navbar>
    <!-- THANH NAV THỨ 3 -->
    <app-third-navbar (addCase)="addCase()" style="position: relative;z-index: 2;"></app-third-navbar>
   
    <div class="body" style="position: relative;z-index: 1;">
      <!-- NỘI DUNG TRANG RỖNG-->
      <app-page-empty *ngIf="pageEmpty" (addCase)="addCase()"></app-page-empty>
      <!-- TRANG CÓ NỘI DUNG -->
      <app-page-w-content *ngIf="!pageEmpty"></app-page-w-content>
    </div>
  </div>
</div>
