<div class="contentPage">
    <table>
        <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <th style="width: max-content; padding: 0.5rem;"><span class="material-symbols-outlined">edit_document</span></th>

            <th><b>DEAL NAME</b></th>
            <th><b>AMOUNT</b></th>
            <th><b>ORGANIZATION</b></th>
            <th style="width:15rem"><b>EXPECTED CLOSED DATE</b></th>
            <th style="padding-left:4rem"><b>SALES STAGE</b></th>
            <th><b>ASSIGNED TO</b></th>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme small deal</td>
            <td>100$</td>
            <td>Acme</td>
            <td>14-08-2023</td>
            <td><div class="highlight closedWon">Closed Won</div></td>
            <td>Vo Van Viet</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme big deal</td>
            <td>250.000$</td>
            <td></td>
            <td>20-08-2023</td>
            <td><div class="highlight closedLost">Closed Lost</div></td>
            <td>Vo Van Viet</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme small deal</td>
            <td>100$</td>
            <td>Acme</td>
            <td>14-08-2023</td>
            <td><div class="highlight readyToClose">Ready To Close</div></td>
            <td>Vo Van Viet</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme big deal</td>
            <td>250.000$</td>
            <td></td>
            <td>20-08-2023</td>
            <td><div class="highlight dormant">Dormant</div></td>
            <td>Vo Van Viet</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme small deal</td>
            <td>100$</td>
            <td>Acme</td>
            <td>14-08-2023</td>
            <td><div class="highlight negotiation">Negotiation</div></td>
            <td>Vo Van Viet</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme big deal</td>
            <td>250.000$</td>
            <td></td>
            <td>20-08-2023</td>
            <td><div class="highlight reqGathering">Requirement Gathering</div></td>
            <td>Vo Van Viet</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme small deal</td>
            <td>100$</td>
            <td>Acme</td>
            <td>14-08-2023</td>
            <td><div class="highlight valueProposition">Value Proposition</div></td>
            <td>Vo Van Viet</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme big deal</td>
            <td>250.000$</td>
            <td></td>
            <td>20-08-2023</td>
            <td><div class="highlight qualifying">Qualifying</div></td>
            <td>Vo Van Viet</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>

            <td>acme small deal</td>
            <td>100$</td>
            <td>Acme</td>
            <td>14-08-2023</td>
            <td><div class="highlight new">New</div></td>
            <td>Vo Van Viet</td>
          </tr>
    </table>
  </div>