<div class="contentPage">
  <table>
      <tr>
          <!-- CHECKBOX -->
          <th style="width: 2rem; padding: 0 1rem 1rem 2rem;"><label class="container">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label></th>

          <th style="width: max-content; padding: 0.5rem 2rem 0.5rem 0.5rem;"><span class="material-symbols-outlined">edit_document</span></th>
          <th><b>NAME</b></th>
          <th><b>ASSIGNED TO</b></th>
          <th><b>START DATE & TIME</b></th>
          <th><b>TIME START</b></th>
          <th><b>END DATE & TIME</b></th>
          <th><b>END TIME</b></th>
          <th><b>STATUS</b></th>       
          <th><b>ACTIVITY TYPE</b></th>
          <th><b>ALL DAY</b></th>
        </tr>
        <tr>
          <!-- CHECKBOX -->
          <th style="width: 2rem; padding: 0 1rem 1rem 2rem;"><label class="container">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label></th>
          <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>
          <td>sale 15% for all items</td>
          <td>Nguyen</td>
          <td>2023-08-31 AM</td>
          <td>03:00 AM</td>
          <td>2023-08-31 AM</td>
          <td>03:00 AM</td>
          <td>Planed</td>
          <td>Call</td>
          <td>No</td>
        </tr>
  </table>
</div>
