<ng-template #success>
  <app-success id="login" [cont]="cont" ></app-success>
</ng-template>
<ng-template #warning>
<app-warning id="login" [cont]="cont" ></app-warning>
</ng-template>
<ng-template #error>
<app-error id="login" [cont]="cont" ></app-error>
</ng-template>

<div class="contentPage">
  <table>
      <tr>
          <!-- CHECKBOX -->
          <th style="width: 2rem; padding: 0 1rem 1rem 2rem;"><label class="container">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label></th>

          <th style="width: max-content; padding: 0.5rem 2rem 0.5rem 0.5rem;"><span class="material-symbols-outlined">edit_document</span></th>
          <th><b>NAME</b></th>
          <th><b>START DATE & TIME</b></th>
          <th><b>END DATE & TIME</b></th>
          <th><b>STATUS</b></th>       
          <th><b>ACTIVITY TYPE</b></th>
          <th><b>PARTICIPANT</b></th>
          <th><b>ALL DAY</b></th>
          <th><b>ACTION</b></th>
        </tr>
        <tr *ngFor="let event of (this.event$ | async)?.events">
          <!-- CHECKBOX -->
          <th style="width: 2rem; padding: 0 1rem 1rem 2rem;"><label class="container">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label></th>
          <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>
          <td>{{event.data.attributes.name!}}</td>
          <td>{{event.data.attributes.start_c}}</td>
          <td>{{event.data.attributes.end_event_c}}</td>
          <td>Planned</td>
          <td>{{event.data.attributes.act_type_c}}</td>
          <td>{{event.data.attributes.participant_c}}</td>
          <td>{{event.data.attributes.all_day_c}}</td>
          <td>          
              <span class="material-symbols-outlined edit" (click)="onClick(content, 'auto', event)">edit</span>
            <span class="material-symbols-outlined delete" (click)="deleteEvent(event.data.id)">delete</span>      
          </td>

          <!-- dialog -->
<!-- dialog -->
<ng-template #content let-observer>
  <h2 class="title-dialog">Update Event</h2>
  <div class="box-form">
    <form [formGroup]="eventForm" (ngSubmit)="observer.complete()">
      <div class="form-event">
        <div class="all-label">
          <label for="name">Name</label>
          <label for="start-time">Start Date</label>
          <label for="end-time">End Date</label>
          <label for="act-type">Activity Type</label>
          <label for="agenda">All Day</label>
          <label for="part">Participants</label>
        </div>
        <div class="all-input">
          <tui-input [formControl]="this.eventName" class="tui-input" type="text" id="name" name="firstname"
            tuiTextfieldSize="s">Event name </tui-input>

          <form [formGroup]="testForm">
            <tui-input-date-time  [(ngModel)]="start" formControlName="testValue" class="tui-input" id="start-time"
            [tuiTextfieldCleaner]="true" tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true">
            Choose start date
            <input placeholder="10.10.1998 01:22" tuiTextfield />
          </tui-input-date-time>
          </form>

          <form [formGroup]="testForm2">
            <tui-input-date-time  [(ngModel)]="end" formControlName="testValue" class="tui-input" id="start-time"
            [tuiTextfieldCleaner]="true" tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true">
            Choose end date
            <input placeholder="10.10.1998 01:22" tuiTextfield />
          </tui-input-date-time>
          </form>

          <tui-combo-box [formControl]="controlActType" tuiTextfieldSize="s"  class="tui-input" [stringify]="stringify"
            [tuiTextfieldLabelOutside]="true">
            Type

            <tui-data-list-wrapper *tuiDataList [itemContent]="stringify | tuiStringifyContent"
              [items]="allActType | tuiFilterByInputWith: stringify" tuiTextfieldSize="s"
              [tuiTextfieldLabelOutside]="true"></tui-data-list-wrapper>
          </tui-combo-box>

          <tui-combo-box [formControl]="controlDay" tuiTextfieldSize="s"  class="tui-input" [stringify]="stringifyDay"
            [tuiTextfieldLabelOutside]="true">
            Yes

            <tui-data-list-wrapper *tuiDataList [itemContent]="stringifyDay | tuiStringifyContent"
              [items]=" days | tuiFilterByInputWith: stringifyDay" tuiTextfieldSize="s"
              [tuiTextfieldLabelOutside]="true"></tui-data-list-wrapper>
          </tui-combo-box>


          <tui-combo-box [formControl]="controlPart" tuiTextfieldSize="s"  class="tui-input" [stringify]="stringifyPart"
            [tuiTextfieldLabelOutside]="true">
            Participants

            <tui-data-list-wrapper *tuiDataList [itemContent]="stringifyPart | tuiStringifyContent"
              [items]=" part | tuiFilterByInputWith: stringifyPart" 
              tuiTextfieldSize="s"
              [tuiTextfieldLabelOutside]="true"></tui-data-list-wrapper>
          </tui-combo-box>

        </div>
      </div>
      <div class="cancel-save">
        <button class="btn-cancel" type="submit">Cancel</button>
        <button class="btn-save" (click)="updateEvent(event)">Save</button>
      </div>
    </form>
  </div>
</ng-template>
        </tr>
  </table>
</div>



