<app-first-navbar></app-first-navbar>
<div class="full">
  <div class="than">
    <div class="left">
      <a
        ><img
          src="https://i.ibb.co/0Dg4Bc0/nh-m-n-h-nh-2023-08-21-l-c-09-52-37.png"
          alt="nh-m-n-h-nh-2023-08-21-l-c-09-52-37"
          border="0"
      /></a>
    </div>
    <div class="right">
      <div class="khunglogin">
        <div class="chulogin">
          <p>LOGIN</p>
          <div class="editlogo">
            <a
              ><img
                id="logoBridge"
                src="https://i.ibb.co/51mZfNZ/nh-m-n-h-nh-2023-08-19-l-c-13-42-10.png"
                alt="nh-m-n-h-nh-2023-08-19-l-c-13-42-10"
                border="0"
            /></a>
          </div>
          <link rel="preconnect" href="https://fonts.googleapis.com" />
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
          <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
            rel="stylesheet"
          />
        </div>
        <div class="Email">
          <input
            style="
              width: 18.75rem;
              height: 3.175rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
              border: 1px solid #58c2ce;
            "
            placeholder="Email"
            type="Email"
          />
        </div>
        <div class="Password">
          <input
            style="
              width: 18.75rem;
              height: 3.175rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
              border: 1px solid #58c2ce;
            "
            placeholder="Password"
            type="Password"
          />
        </div>
        <div class="remember">
          <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          />
          <span class="material-symbols-outlined"> check_circle </span>
          <div class="churemember">
            <p>Remember Account</p>
          </div>
        </div>
        <div class="nutlogin">
          <p>LOGIN</p>
        </div>
        <div class="gachthang">
          <p>______________________</p>
        </div>
        <div class="loginwithgg">
          <img
            style="width: 1.5625rem; height: 1.5625rem"
            src="https://i.pinimg.com/originals/74/65/f3/7465f30319191e2729668875e7a557f2.png"
            alt=""
          />
          <p>Login with Google</p>
        </div>
        <div class="forgotpassword">Forgot Your Password?</div>
      </div>
    </div>
  </div>
</div>
