<div class="header"></div>

<div>
  <table class="table-groups" style="width: 100%">
    <tr style="font-weight: bold; font-size: 20">
      <th>Actions</th>
      <th>Role</th>
      <th>Parent Role</th>
      <th>License Type</th>
      <th>Can Assign Record To</th>
    </tr>

    <tr>
      <td>
        <span class="material-symbols-outlined edit"> edit </span>
        <span class="material-symbols-outlined"> delete </span>
      </td>
      <td>CEO</td>
      <td>Organization</td>
      <td>Standard</td>
      <td>All Users & All Groups</td>
    </tr>

    <tr>
      <td>
        <span class="material-symbols-outlined edit"> edit </span>
        <span class="material-symbols-outlined"> delete </span>
      </td>
      <td>IT Consultant</td>
      <td>CEO</td>
      <td>Standard</td>
      <td>Same Role Members & All Groups</td>
    </tr>

    <tr>
      <td>
        <span class="material-symbols-outlined edit"> edit </span>
        <span class="material-symbols-outlined"> delete </span>
      </td>
      <td>VP of Sales</td>
      <td>CEO</td>
      <td>Standard</td>
      <td>All Users & All Groups</td>
    </tr>

    <tr>
      <td>
        <span class="material-symbols-outlined edit"> edit </span>
        <span class="material-symbols-outlined"> delete </span>
      </td>
      <td>VP of Customer Service</td>
      <td>CEO</td>
      <td>Standard</td>
      <td>Same Role Members & All Groups</td>
    </tr>
  </table>
</div>
