<app-navbar-user-management></app-navbar-user-management>
<div class="body">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="tree">
      

      <div class="branchContainer" >
        <div class="node userRoot" style=" width: 6rem">
          Viet
          <button class="userRootButton">+</button>
        </div>

        <div class="branch">
          <div class="node">CEO <button class="userRootButton">+</button></div>

          <div class="branch folderOpen">
            <div class="node">VP of Sales <button class="userRootButton">+</button></div>
            <div class="branch">
              <div class="node">Sales Manager <button class="userRootButton">+</button></div>
            </div>
            <div class="branch">
              <div class="node">Marketing Manage <button class="userRootButton">+</button></div>
            </div>
          </div>
          <div class="branch folderOpen">
            <div class="node">VP of Customer Service <button class="userRootButton">+</button></div>
            <div class="branch">
              <div class="node">Support Manager <button class="userRootButton">+</button></div>
            </div>
          </div>
          <div class="branch">
            <div class="node">IT Consultant <button class="userRootButton">+</button></div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
  <!-- <tui-tree
      *ngFor="let item of data.children"
      [tuiTreeController]="true"
      [value]="item"
      [content]="content"
      [childrenHandler]="handler"
    ></tui-tree>

    <ng-template #content let-item>
      {{ item.text }}
    </ng-template> -->

<!-- </div> -->

      <!-- <div class="branchHolder">
        <div class="branch">
          <div class="node">
            CEO
            <button class="userRootButton">+</button>
          </div>
        </div>
<div class="branchHolder">
  <div class="branch">
    <div class="branchVector">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
    <div>
      <div class="node">
        VP of Sales
        <button class="userRootButton">+</button>
      </div>
      <div class="branchHolder">
        <div class="branch">
          <div class="branchVector">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
          <div class="node">
            Marketing Manager
            <button class="userRootButton">+</button>
          </div>
        </div>

        <div class="branch">
          <div class="branchVector">
            <div class="line1"></div>
            <div class="line2"></div>
          </div>
          <div class="node">
            Sales Manager
            <button class="userRootButton">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>
</div> -->