<div class="contentPage">
  <table>
    <tr>
      <!-- CHECKBOX -->
      <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
        <label class="container">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </th>

      <th style="width: max-content; padding: 0.5rem">
        <span class="material-symbols-outlined">edit_document</span>
      </th>
      <th><b>FIRST NAME</b></th>
      <th><b>LAST NAME</b></th>
      <th><b>EMAIL</b></th>
      <th><b>PHONE</b></th>
      <th><b>ORGANIZATION</b></th>
      <th><b>TITLE</b></th>
      <th><b>ASSIGNED TO</b></th>
      <th><b>MAILING COUNTRY</b></th>
    </tr>
    <tr>
      <!-- CHECKBOX -->
      <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
        <label class="container">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </th>
      <td style="width: 1rem; padding: 0.5rem">
        <span class="material-symbols-outlined">star</span>
      </td>
      <td>Tri</td>
      <td>Nguyen</td>
      <td>nguyentantri.a4@gmail.com</td>
      <td>123456789</td>
      <td></td>
      <td></td>
      <td>Nguyen Tri</td>
      <td></td>
    </tr>
  </table>
</div>
