$Blue : #58c2ce;
$Blue2: #2C698D;
$Blue3: #272643;
$Blue0: #BAE8E8;

.viewButtonContainer{
  display: flex;
}

.treeButton{
  color: $Blue;
  border: 1px solid $Blue;
  color: #ffff;
  padding: 0.5rem 1rem;
}


// .check-status-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .button-container {
//     display: flex;
//     flex-direction: row;
//   }

//   .check-active-button {
//     width: 6.25rem;
//     height: 2.7rem;
//     align-items: center;
//     justify-content: center;
//     border-top-left-radius: 8px;
//     border-bottom-left-radius: 8px;
//     border: 2px solid #58c2ce;
//     border-right: none;
//     background-color: #58c2ce;
//     color: white;
//     font-size: 1rem;
//     font-weight: 600;
//     cursor: pointer;

//     &:hover {
//       background-color: darken($color: #58c2ce, $amount: 10);
//       color: darken($color: white, $amount: 3);
//     }
//   }

//   .check-inactive-button {
//     width: 6.25rem;
//     height: 2.7rem;
//     align-items: center;
//     justify-content: center;
//     border-top-right-radius: 8px;
//     border-bottom-right-radius: 8px;
//     border: 2px solid #58c2ce;
//     background-color: #ffffff;
//     color: #58c2ce;
//     font-size: 1rem;
//     font-weight: 600;
//     cursor: pointer;

//     &:hover {
//       background-color: darken($color: white, $amount: 3);
//     }
//   }
// }


// .container {
//   // border: 2px solid red;
//   width: 90vw;
//   padding: 4rem 8rem;
//   min-height: 120vh;
//   max-height: max-content;
// }

// .field {
//   display: flex;
//   justify-items: flex-start;
//   margin: 1rem 0;
//   height: max-content;
// }

// .label {
//   // border: 2px solid red;
//   width: 25%;

//   font-size: medium;

//   height: 3rem;
//   display: flex;

//   align-content: center;
//   justify-content: flex-start;

//   align-items: center;
//   justify-items: flex-start;
// }

// .input {
//   // border: 2px solid red;
//   width: 75%;
//   min-height: 3rem;

//   display: flex;

//   align-content: center;
//   justify-content: flex-start;

//   align-items: center;
//   justify-items: flex-start;
// }

// .privileges {
//   display: flex;
// }

// .Input {
//   height: 20px;
//   min-width: 15rem;
//   border: none;
//   padding: 0.5rem;
//   border-bottom: 2px solid #58c2ce;
//   color: #272643;
//   // font-family: Oswald;
//   font-style: normal;
//   font-weight: 700;
//   line-height: normal;
//   letter-spacing: 1.6px;
//   width: 31rem;
// }

.sidebar-admin-groups {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

// .roleNameInput {
//   color: #272643;
//   // font-family: Oswald;
//   font-size: 32px;
//   font-style: normal;
//   font-weight: 700;
//   line-height: normal;
//   letter-spacing: 1.6px;
// }

// .roleNameLabel {
//   color: #272643;
//   // font-family: Oswald;
//   font-size: 32px;
//   font-style: normal;
//   font-weight: bolder;
//   line-height: normal;
//   letter-spacing: 1.6px;
// }

.reportToInput {
  height: 20px;
}

.reportToLabel {
  color: #272643;
  text-align: right;

  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

.button {
  background-color: #ffff;
  border: 2px solid #58c2ce;
  border-radius: 8px;
  height: max-content;
  min-width: 15rem;
  padding: 0.5rem 2rem;
  color: #58c2ce;
  text-align: center;
  // font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.7px;
  box-sizing: border-box;
  margin: 0.2rem 0.2rem;
}

.active{
  color: #ffff;
  background-color: #58c2ce;
}

.optionHolder {
  // border: 2px solid red;ax-content;
  border-radius: 8px;
  // border: 2px solid #58c2ce;
  box-shadow: 0px 8px 12px #f2f2f2;
  background: #e3f6f5;
  padding: 1rem 0.3rem;
  display: flex;
  height: max-content;
  transition: 1s;
}

.collumn {
  // border: 2px solid yellow;
  display: block;
  width: 15.5rem;
  height: max-content;
  margin: 0 0.5rem;
}

.canAssignReportToInput {
  min-height: 30vh;
  display: block;
}

.canAssignReportToInputBox {
  min-height: 2.5rem;
  width: 31rem;
  border-bottom: 2px solid #58c2ce;
  padding: 0 0.5rem 0.5rem;
  margin: 0 0.5rem 0.5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  transition: 0.5s;
}

.editPrivilegeBox {
  box-sizing: border-box;
  margin-top: 3rem;
  width: 100%;
  height: max-content;
  padding: 0.5rem 1rem 2rem;

  border: 2px solid #58c2ce;
  background-color: #e3f6f5;
  color: #58c2ce;

  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

span{
  font-weight: bold;
  color: #58c2ce;
  margin: 0 1rem;
}
tui-accordion-item{
  background-color: #58c2ce;
  color: #ffff;

  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
}
.section {
  background-color: #58c2ce;
  color: #ffff;
  border: 2px solid #58c2ce;

  border-radius: 8px;
  margin: 0.4rem 0;

  // height: 10rem;
  // padding: 1rem;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
}

.privilegeField {
  background-color: #ffff;
  color: #58c2ce;
  border-bottom: 2px solid #58c2ce;
  // border-top: 2px solid #58c2ce;
  // border-radius: 8px;
  // height: 10rem;
  margin: 0.5rem 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 18px;

  display: flex;
  justify-content: flex-start;
}

.privilegeFieldCollumn{
  width:15%;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  // border: 1px solid red;
}

.sectionButton {
  padding: 0 3rem;
  padding: 1rem 2rem;
  // border: 1px solid red;
  height: max-content;
}

.privilegeFieldHolder {
  background-color: #ffff;
  padding: 0.1rem 1rem;
  margin: 0 1rem 1rem;
  border-radius: 8px;
}

.privilegeCheckBox{
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffff;
  color:#58c2ce;
  border: none;
  border-radius: 8px;
  margin-right: 1rem;
}

.title{
  width: 30%;
}

.assignProfileInput{
  color: #272643;
  text-align: right;

  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

.assignProfileInputBox{
  min-height: 2.5rem;
  width: 31rem;
  border-bottom: 2px solid #58c2ce;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}

//CSS CỦA CHECKBOX - COPY TRÊN MẠNG TỐT NHẤT ĐỪNG ĐỤNG VÀO
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $Blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}