#content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;;
}

p{
    margin: 0;
    padding: 0;
    color: #2c698d;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
    background-color:#e3f6f5 !important;
    min-width: 250px !important;
    min-height: fit-content !important;
    scale: 0.9 !important;
  }
  