
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <div class="content-groups">
    <p>1 to 3</p>
    <table class="table-groups" style="width:100%">
      <tr>
        <th>Acctions</th>
        <th>Name</th> 
        <th>Description</th>
      </tr>
      <tr>
        <td>
          <span class="material-symbols-outlined">
            edit
            </span>
            <span class="material-symbols-outlined">
              delete
              </span>
        </td>
        <td>Team Selling</td>
        <td>Group Related Sales</td>
      </tr>
      <tr>
        <td>
          <span class="material-symbols-outlined">
            edit
            </span>
            <span class="material-symbols-outlined">
              delete
              </span>
        </td>
        <td>Marketing Group</td>
        <td>Group Related Marketing Activities</td>
      </tr>
      <tr>
        <td>
          <span class="material-symbols-outlined">
            edit
            </span>
            <span class="material-symbols-outlined">
              delete
              </span>
        </td>
        <td>Support Group</td>
        <td>Group Related to providing Support to Customers</td>
      </tr>
      
    </table>
  </div>
