
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
 
<ng-template #content let-observer>
  <form [formGroup]="exampleForm" (ngSubmit)="observer.complete()">
  <div class="form-group">
    <div class="box">
      <label for="">Group Name</label>
      <input type="text">
    </div>
    <div class="box">
      <label for="">Group Email</label>
      <input type="text">
     </div>
     <div class="box">
      <label for="">Description</label>
      <input type="text">
    </div>
    <div class="box-gmember">
      <label for="">Group Member</label>
      <tui-multi-select 
      *tuiLet="items$ | async as items"
      placeholder="Find group member"
      class="b-form tui-multi-select"
      [formControl]="testValue"
      [tuiTextfieldLabelOutside]="true"
      
      (searchChange)="onSearchChange($event)"
  >
      <tui-data-list-wrapper
          *tuiDataList
          [items]="items"
          [itemContent]="itemContent"
      ></tui-data-list-wrapper>
  </tui-multi-select>
   
  <ng-template #itemContent let-data>
      <div class="template">
          {{ data }}
      </div>
  </ng-template>

      <div class="color-roles">
        <div class="users"><p><span>(U)</span> Users</p></div>
        <div class="groups"><p><span>(G)</span> Groups</p></div>
        <div class="roles"><p><span>(R)</span> Roles</p></div>
        <div class="roles-sub"><p><span>(R&S)</span> Roles and Subordinates</p></div>
      </div>
    </div>
  </div>
  <div class="cancel-save">
    <button class="btn-cancel" type="submit">Cancel</button>  
    <button class="btn-save" type="submit">Save</button>
  </div>
  
</form>
</ng-template>
 
 
  <div class="content-groups">
    <div class="page-button">
      <button class="btn-add-group" size="m" type="button" (click)="onClick(content,'auto')">
        <span class="material-symbols-outlined">
          add
        </span>
        Add Group
      </button>
      <p>1 to 3</p>
    </div>
    <table class="table-groups" style="width:100%">
      <tr>
        <th>Acctions</th>
        <th>Name</th> 
        <th>Description</th>
      </tr>
      <tr>
        <td>
          <span class="material-symbols-outlined edit" (click)="onClick(content,'auto')">
            edit
            </span>
            <span class="material-symbols-outlined">
              delete
              </span>
        </td>
        <td>Team Selling</td>
        <td>Group Related Sales</td>
      </tr>
      <tr>
        <td>
          <span class="material-symbols-outlined edit" (click)="onClick(content,'auto')">
            edit
            </span>
            <span class="material-symbols-outlined">
              delete
              </span>
        </td>
        <td>Marketing Group</td>
        <td>Group Related Marketing Activities</td>
      </tr>
      <tr>
        <td>
          <span class="material-symbols-outlined edit" (click)="onClick(content,'auto')">
            edit
            </span>
            <span class="material-symbols-outlined">
              delete
              </span>
        </td>
        <td>Support Group</td>
        <td>Group Related to providing Support to Customers</td>
      </tr>
      
    </table>
  </div>

