@import '@taiga-ui/core/styles/taiga-ui-local.scss';

@import 'mixins/textfield.scss';


[tuiWrapper][data-appearance='textfield'] {
  background: var(--tui-base-01);
  color: var(--tui-text-01);
  box-shadow: none;
}


.content-groups {
  width: 95%;
}

.page-button {
  display: flex;
  flex-direction: column;
  float: right;
}

.page-button button {
  width: 100px;
  height: 35px;
  background-color: #FFFFFF;
  border: 2px solid #58C2CE;
  color: #58C2CE;
  cursor: pointer;
  border-radius: 8px;
}

.page-button button:hover {
  background-color: #58C2CE;
  color: #FFFFFF;
}

.btn-add-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-add-group span {
  font-size: 18px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid #58C2CE;
  border-radius: 8px;
}
th {
  background-color: #58C2CE;
  color: #FFFFFF;
}
td {
  color: #2C698D;
}
th, td {
  padding: 10px;
  border: 1px solid #9cc9ce;
  text-align: left;
  border-right: none;
  border-left: none;
}

th:first-child {
  padding-left: 30px;
}
td:first-child {
  padding-left: 30px; 
}

.edit {
  cursor: pointer;
}
//Dialog
.cancel-save {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}

.btn-cancel {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 2px solid #58C2CE;
  color: #58C2CE;
  font-size: 14px;
  cursor: pointer;
}

.btn-cancel:hover {
  color: #FFFFFF;
  background-color: #58C2CE;
}

.btn-save {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #58C2CE;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn-save:hover {
  color: #58C2CE;
  background-color: #FFFFFF;
  border: 2px solid #58C2CE;
}
 

.form-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.box label {
  color: #2C698D;
  font-size: 16px;
  font-weight: 510;
}
.box input {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 1px dashed #58C2CE;
  outline: none;
}

.box-gmember {
  display: flex;
  flex-direction: row;
  gap: 130px;
}

.box-gmember label {
  color: #2C698D;
  font-size: 16px;
  font-weight: 510;
}

.box-gmember input {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 1px dashed #58C2CE;
  outline: none;
}

.color-roles {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  
}
.users {
  width: 220px;
  height: 30px;
  background-color: #F46363;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.groups {
  width: 220px;
  height: 30px;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.roles {
  width: 220px;
  height: 30px;
  background-color: #FFF278;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.roles-sub {
  width: 220px;
  height: 30px;
  background-color: #58C2CE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

//tui-multiple-select

.tui-multi-select {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 1px dashed #58C2CE;
  outline: none;
}

.template {
  display: flex;
  align-items: center;
}

.avatar {
  margin: 0 0.5rem 0 -0.25rem;
}

