// @import '@taiga-ui/core/styles/taiga-ui-local.scss';

// @import 'mixins/textfield.scss';

[tuiWrapper][data-appearance="textfield"] {
  background: var(--tui-base-01);
  color: var(--tui-text-01);
  box-shadow: none;
}

.content-groups {
  width: 85%;
  padding-top: 1.5rem;
}

.page-button {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
}

.page-button button {
  width: 6.25rem;
  height: 2.188rem;
  background-color: #58c2ce;
  border: 2px solid #58c2ce;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.page-button button:hover {
  background-color: darken($color: #58c2ce, $amount: 10);
  color: darken($color: white, $amount: 3);
}

.btn-add-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-add-group span {
  font-size: 18px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid #58c2ce;
  border-radius: 8px;
}
th {
  background-color: #58c2ce;
  color: #ffffff;
}
td {
  color: #2c698d;
}
th,
td {
  padding: 10px;
  border: 1px solid #9cc9ce;
  text-align: left;
  border-right: none;
  border-left: none;
}

th:first-child {
  padding-left: 30px;
}
td:first-child {
  padding-left: 30px;
}

.edit {
  cursor: pointer;
}
//Dialog
.cancel-save {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}

.btn-cancel {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 2px solid #58c2ce;
  color: #58c2ce;
  font-size: 14px;
  cursor: pointer;
}

.btn-cancel:hover {
  color: #ffffff;
  background-color: #58c2ce;
}

.btn-save {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #58c2ce;
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn-save:hover {
  color: #58c2ce;
  background-color: #ffffff;
  border: 2px solid #58c2ce;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.box label {
  color: #2c698d;
  font-size: 16px;
  font-weight: 510;
}
.box input {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 1px dashed #58c2ce;
  outline: none;
}

.box-gmember {
  display: flex;
  flex-direction: row;
  gap: 130px;
}

.box-gmember label {
  color: #2c698d;
  font-size: 16px;
  font-weight: 510;
}

.box-gmember input {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 1px dashed #58c2ce;
  outline: none;
}

.color-roles {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}
.users {
  width: 250px;
  height: 30px;
  background-color: #58C2CE;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.groups {
  width: 250px;
  height: 30px;
  background-color: #58C2CE;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.roles {
  width: 250px;
  height: 30px;
  background-color: #58C2CE;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.roles-sub {
  width: 250px;
  height: 30px;
  background-color: #58C2CE;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.color-roles span {
  font-weight: 600;
}
//tui-multiple-select

.tui-multi-select {
  width: 400px;
  height: 30px;
}

.template {
  display: flex;
  align-items: center;
}

.avatar {
  margin: 0 0.5rem 0 -0.25rem;
}
