<ng-template #success>
  <app-success id="login" [cont]="content"></app-success>
</ng-template>
<ng-template #warning>
  <app-warning id="login" [cont]="content"></app-warning>
</ng-template>
<ng-template #error>
  <app-error id="login" [cont]="content"></app-error>
</ng-template>

<div class="contentPage">
  <table>
    <tr *ngIf="this.lead$ | async">
      <!-- CHECKBOX -->
      <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
        <label class="container">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </th>

      <th style="width: max-content; padding: 0.5rem">
        <span class="material-symbols-outlined">edit_document</span>
      </th>
      <th><b>NAME</b></th>
      <th><b>EMAIL</b></th>
      <th><b>PHONE NUMBER</b></th>
      <th><b>COMPANY</b></th>
      <th><b>WEBSITE</b></th>
      <th><b>ASSIGNED TO</b></th>
      <th><b>CITY</b></th>
      <th><b>COUNTRY</b></th>
      <th>ACTION</th>
    </tr>
    <tr
      class="visible-data"
      *ngFor="let lead of (this.lead$ | async)?.leads"
      (click)="showDialog(dialogDetails, 'auto', lead)"
    >
      <!-- CHECKBOX -->
      <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
        <label class="container">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </th>
      <td style="width: 1rem; padding: 0.5rem">
        <span class="material-symbols-outlined">star</span>
      </td>
      <td>{{ lead.data.attributes.full_name! }}</td>
      <td class="lead-mail">
        <div *ngIf="lead.data.attributes.email_c">
          {{ lead.data.attributes.email_c! }}
        </div>
      </td>
      <td class="lead-phone">
        <div *ngIf="lead.data.attributes.phone_mobile">
          {{ lead.data.attributes.phone_mobile! }}
        </div>
      </td>
      <td>{{ lead.data.attributes.department! }}</td>
      <td>{{ lead.data.attributes.website }}</td>
      <td>
        <div *ngIf="lead.data.attributes.assigned_to_name_c != 'undefined'">
          {{ lead.data.attributes.assigned_to_name_c }}
        </div>
      </td>
      <td></td>
      <td></td>
      <td>
        <div class="action">
          <span
            class="material-symbols-outlined"
            (click)="showDialog(dialogAddLeads, 'auto', lead)"
            >edit</span
          >
          <span
            class="material-symbols-outlined"
            (click)="deleteLead(lead.data.id)"
            >delete</span
          >
        </div>
      </td>

      <!-- DIALOG -->
      <ng-template id="dialogAddLead" #dialogAddLeads let-observer>
        <!--FORM CHỨA NỘI DUNG DIALOG-->
        <form
          id="form-container"
          [formGroup]="exampleForm"
          (ngSubmit)="observer.complete()"
        >
          <!--CHỮ TỰA ĐỀ CỦA DIALOG-->
          <p id="header-dialog">Update Lead</p>

          <!--DIV CHỨA NỘI DUNG DIALOG-->
          <div class="contents-dialog-lead">
            <!--DIV FIRST NAME-->
            <div class="container-dialog">
              <p class="title-dialog">First name</p>
              <tui-input
                [formControl]="firstName"
                style="outline: none !important"
                class="input-dialog"
                tuiTextfieldSize="s"
                ngModel="{{ lead.data.attributes.first_name }}"
              >
                Type first name
              </tui-input>
            </div>

            <!--DIV LAST NAME-->
            <div class="container-dialog">
              <p class="title-dialog">Last name</p>
              <tui-input
                [formControl]="lastName2"
                class="input-dialog"
                tuiTextfieldSize="s"
                ngModel="{{ lead.data.attributes.last_name }}"
              >
                Type last name
              </tui-input>
            </div>

            <!--DIV COMPANY-->
            <div class="container-dialog">
              <p class="title-dialog">Company</p>
              <tui-input
                [formControl]="company2"
                class="input-dialog"
                tuiTextfieldSize="s"
                ngModel="{{ lead.data.attributes.department }}"
              >
                Type company
              </tui-input>
            </div>

            <!--DIV EMAIL-->
            <div class="container-dialog">
              <p class="title-dialog">Email</p>
              <tui-input
                [formControl]="email2"
                class="input-dialog"
                tuiTextfieldSize="s"
                ngModel="{{ lead.data.attributes.email_c! }}"
              >
                Type here
              </tui-input>
            </div>

            <!--DIV PHONE-->
            <div class="container-dialog">
              <p class="title-dialog">Phone</p>
              <tui-input-phone-international
                [formControl]="phone2"
                class="input-dialog"
                [countries]="(phones | tuiSortCountries | async) || []"
                [(countryIsoCode)]="countryIsoCode"
                [tuiTextfieldLabelOutside]="true"
                tuiTextfieldSize="m"
                style="border-radius: 8px"
                ngModel="{{ lead.data.attributes.phone_mobile! }}"
              >
                (optional)
              </tui-input-phone-international>
            </div>

            <!--DIV ASSIGNED TO-->
            <div class="container-dialog">
              <p class="title-dialog">Assigned to</p>
              <tui-combo-box
                class="input-dialog"
                [formControl]="controlAssignments"
                [stringify]="stringifyAssignment"
                tuiTextfieldSize="s"
              >
                Choose/Type here
                <tui-data-list-wrapper
                  *tuiDataList
                  [items]="
                    assignments | tuiFilterByInputWith : stringifyAssignment
                  "
                  [itemContent]="stringifyAssignment | tuiStringifyContent"
                ></tui-data-list-wrapper>
              </tui-combo-box>
            </div>

            <!--DIV NÚT CANCEL VÀ SAVE-->
            <div class="cancel-save">
              <button class="button-cancel" type="submit">Cancel</button>
              <button class="button-add" (click)="updateLead(lead)">
                Update
              </button>
            </div>
          </div>
        </form>
      </ng-template>
    </tr>
  </table>
</div>

<!-- DETAIL DIALOG -->
<ng-template id="dialogDetails" #dialogDetails let-observer>
  <!--FORM CHỨA NỘI DUNG DIALOG-->
  <form id="form-container" (ngSubmit)="observer.complete()">
    <!--CHỮ TỰA ĐỀ CỦA DIALOG-->
    <p id="header-dialog">Details</p>
    <div class="contentContainer center">
      <div class="mainContent">
        <div class="detailDiv lineLayout standard">
          <div class="detailDivCard">
            <p>Assigned To</p>
            <span>Gideon Tran</span>
          </div>
          <div class="detailDivCard">
            <p>Previous Task</p>
            <span class="gray">Not Set</span>
          </div>
          <div class="detailDivCard">
            <p>Parent Task</p>
            <span class="gray">Not Set</span>
          </div>
          <div class="detailDivCard">
            <p>Start Date & Time</p>
            <span class="gray">Not Set</span>
          </div>
          <div class="detailDivCard">
            <p>Due Date & Time</p>
            <span class="gray">Not Set</span>
          </div>
          <div class="detailDivCard">
            <p>Related To</p>
            <span class="gray">Not Set</span>
          </div>
          <div class="detailDivCard">
            <p>Created By</p>
            <span>Gideon Tran</span>
          </div>
          <div class="detailDivCard">
            <p>Resolution Due</p>
            <span class="gray">Not Set</span>
          </div>
        </div>

        <p style="margin-left: 1rem;">Description</p>
        <div class="descriptionDiv standard center">
          <input type="text" placeholder="Description" class="discriptionInput">
        </div>

        <div class="center" style="justify-content: space-between;"><p style="margin-left: 1rem;">Subtasks</p><button class="standard center standardButton">Add Subtasks</button></div>
        <div class="descriptionDiv standard center" style="min-height: 20rem;">
          <input type="text" placeholder="Add Subtasks" class="discriptionInput" >
        </div>

      </div>
      <div class="sideContent">
        <p style="margin-left: 1rem;">One View</p>
        <div class="oneViewDiv">
          
          <div class="oneViewCard standard" style="border-radius: 8px 0 0 0;">
            <p>Running Status</p>
            <span class="gray">In Progress</span>
          </div>

          <div class="oneViewCard standard" style="border-radius: 0 8px 0 0;">
            <p>Estimate</p>
            <span class="gray">Set Estimate</span>
          </div>
          <div class="oneViewCard standard" style="border-radius: 0 0 0 8px;">
            <p>Due Date & Time</p>
            <span class="gray">Set Due Date</span>
          </div>
          <div class="oneViewCard standard" style="border-radius: 0 0 8px 0;">
            <p>Timelog</p>
            <span class="gray">Add Timelog</span>
          </div>
        </div>

        <p style="margin-left: 1rem;">Relation</p>
        <div class="relationDiv standard center"><p class="gray">This task does not have relation</p></div>
      </div>

    </div>
  </form>
</ng-template>
