<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div>
  <div>
    <app-second-navbar [title]="title"></app-second-navbar>

    <!-- THANH NAV THỨ 3 -->
    <div class="thirdNavbar">
      <div class="leftNavContent">
        <button class="button">
          <span class="material-symbols-outlined"> filter_list </span>

          <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
          <span style="margin: 0 1rem">My Leads</span>

          <span class="material-symbols-outlined"> expand_more </span>
        </button>

        <button class="button buttonMainAction" (click)="addTask()">
          <span class="material-symbols-outlined"> add </span>

          <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
          <span style="margin: 0 1rem">Add Lead</span>
        </button>
      </div>
      <div class="rightNavContent">
        <button
          class="button buttonRightNavContent"
          style="padding: 0.25rem 1rem; min-width: max-content; color: #58c2ce"
        >
          <span class="material-symbols-outlined"> rule_settings </span>
        </button>

        <button style="color: #58c2ce" class="button buttonRightNavContent">
          <span class="material-symbols-outlined"> chevron_left </span>

          <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
          <span style="margin: 0 1rem">1 to 2</span>

          <span class="material-symbols-outlined"> chevron_right </span>
        </button>
      </div>
    </div>

    <div class="body">
      <!-- NỘI DUNG TRANG RỖNG-->
      <div class="emptyPage" *ngIf="pageEmpty">
        <!--TRANH CỦA TRANG EMPTY - MN THAY ĐỔI ĐỂ PHÙ HỢP VỚI TRANG-->
        <img
          src="../../../assets/leadership-amico.png"
          class="emptyPageImage"
        />

        <div class="emptyPageContentContainer">
          <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
          <div class="emptyPageContent"><b>THERE ARE NO LEAD</b></div>

          <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
          <div class="emptyPageContent">
            Add Lead by clicking the button below
          </div>

          <div class="emptyPageContent" style="margin-top: 1rem">
            <button
              class="button buttonMainAction"
              style="margin-right: 0"
              (click)="showDialog(dialogAddLeads)"
            >
              <span class="material-symbols-outlined"> add </span>

              <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
              <span style="margin: 0 1rem">Add Leads</span>
            </button>
          </div>
        </div>
      </div>

      <!-- TRANG CÓ NỘI DUNG -->
      <div class="contentPage" *ngIf="!pageEmpty">
        <table>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
              <label class="container">
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
            </th>

            <th style="width: max-content; padding: 0.5rem">
              <span class="material-symbols-outlined">edit_document</span>
            </th>
            <th><b>NAME</b></th>
            <th><b>ASSIGN TO</b></th>
            <th><b>START DATE & TIME</b></th>
            <th><b>DUE DATE & TIME</b></th>
            <th><b>STAGE</b></th>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
              <label class="container">
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
            </th>
            <td style="width: 1rem; padding: 0.5rem">
              <span class="material-symbols-outlined">star</span>
            </td>
            <td>Design Web Page</td>
            <td>Team CRM</td>
            <td>16-08-2023 01:47 PM</td>
            <td>26-08-2023 12:00 AM</td>
            <td>In Progress</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
              <label class="container">
                <input type="checkbox" />
                <span class="checkmark"></span>
              </label>
            </th>
            <td style="width: 1rem; padding: 0.5rem">
              <span class="material-symbols-outlined">star</span>
            </td>
            <td>Presentation</td>
            <td>Team CRM</td>
            <td>pending</td>
            <td>pending</td>
            <td>Pending</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- DIALOG -->
    <ng-template id="dialogAddLead" #dialogAddLeads let-context>
      <div class="dialog-lead">
        <p id="header-dialog">Add Lead</p>

        <div class="contents-dialog-lead">
          <div class="container-dialog">
            <p class="title-dialog">First name</p>
            <tui-input
              style="outline: none !important"
              class="input-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="name"
              (ngModelChange)="onModelChangeName($event)"
            >
              Type first name
            </tui-input>
          </div>

          <div class="container-dialog">
            <p class="title-dialog">Last name</p>
            <tui-input
              class="input-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="lastName"
              (ngModelChange)="onModelChangeLastName($event)"
            >
              Type last name
            </tui-input>
          </div>

          <div class="container-dialog">
            <p class="title-dialog">Company</p>
            <tui-input
              class="input-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="company"
              (ngModelChange)="onModelChangeCompany($event)"
            >
              Type company
            </tui-input>
          </div>

          <div class="container-dialog">
            <p class="title-dialog">Email</p>
            <tui-input
              class="input-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="email"
              (ngModelChange)="onModelChangeEmail($event)"
            >
              Type here
            </tui-input>
          </div>

          <div class="container-dialog">
            <p class="title-dialog">Phone</p>
            <tui-input
              class="input-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="phone"
            >
              (optional)
            </tui-input>
          </div>

          <div class="container-dialog">
            <p class="title-dialog">Assigned to</p>
       
            <tui-combo-box
              class="input-dialog"
              [formControl]="controlAssignments"
              [stringify]="stringifyAssignment"
              tuiTextfieldSize="s"
            >
              Choose/Type here

              <tui-data-list-wrapper
                *tuiDataList
                [items]="
                  assignments | tuiFilterByInputWith : stringifyAssignment
                "
                [itemContent]="stringifyAssignment | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>
        </div>

        <div class="save-canceled-container">
          <button class="canceled-button">Cancel</button>
          <button class="save-button" (click)="context.complete()">Save</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
