:host {
  --tui-primary: #58c2ce;
  --tui-primary-hover: #58c2ce;
  --tui-text-01: #fff;
  --tui-primary-active: #58c2ce;
  --tui-base-01: #58c2ce;
  --tui-base-02: #58c2ce;
  --tui-base-03: #58c2ce;
  --tui-base-04: #58c2ce;
  --tui-base-05: #58c2ce;
  --tui-base-06: #58c2ce;
  --tui-base-07: #58c2ce;
  --tui-base-08: #58c2ce;
  --tui-base-09: #58c2ce;
  --tui-heading-font: "Montserrat", sans-serif;
  --tui-text-font: "Montserrat", sans-serif;
}
.navbar-upper {
  width: 100%;
  height: 2.5rem;
  background-color: yellow;
}
.navbar-lower {
  width: 100%;
  height: 3.5rem;
  background-color: red;
}
.buttons-container {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  align-items: center;
}
.over-my-lead-filter {
  width: 50%;
  height: 3.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 20rem;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
.my-lead-filter {
  width: 15%;
  height: 2.5rem;
  background-color: #58c2ce;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #58c2ce;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
.none {
  width: 70%;
  height: 2.5rem;
  // background-color: #dddddd;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.over-buttons {
  width: 50%;
  height: 3.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
.none2 {
  width: 20%;
  height: 2.5rem;

  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-lead-button {
  width: 30%;
  height: 2.5rem;
  background-color: #58c2ce;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
.switch-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  border-radius: 0.5rem;
}
.check-active-button {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #58c2ce;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
.check-inactive-button {
  border-radius: 0.5rem;
  border: 1px solid #58c2ce;
  background-color: #fff;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
.sync-button {
  width: 14%;
  height: 2.5rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  color: #58c2ce;
  :hover {
    background-color: #58c2ce;
    color: white;
  }
}
.setting-button {
  width: 7%;
  height: 2.5rem;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #58c2ce;
  :hover {
    background-color: #58c2ce;
    color: white;
  }
}
.over-main {
  width: 100%;
  height: 84%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main {
  width: 80%;
  height: 90%;
  background-color: #fff;
}
.main-top {
  width: 100%;
  height: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-between {
  width: 100%;
  height: 10%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #58c2ce;
}
.main-bottom {
  width: 100%;
  height: 10%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
.add-lead-button-center {
  width: 15%;
  height: 2.5rem;
  background-color: #58c2ce;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #58c2ce;
}
.check-sync-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #58c2ce;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  background-color: #fff;
}
.check-setting-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #58c2ce;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  background-color: #fff;
}
.editbutton1 {
  border-radius: 0.5rem;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
.editbutton2 {
  border-radius: 0.5rem;
  :hover {
    background-color: darken($color: #58c2ce, $amount: 10);
  }
}
