<app-navbar-user-management></app-navbar-user-management>

<div class="main-container-user">
  <app-sidebar></app-sidebar>

  <div class="main-content-container">
    <div class="content-groups">
      <div class="button-container">
        <div class="add-button-container">
          <button
            class="add-user-button-container"
            size="m"
            type="button"
            (click)="onClick(addUserDialog, 'auto')"
          >
            <span class="material-symbols-outlined"> add </span>
            Add User
          </button>
        </div>
      </div>

      <div class="check-status-container">
        <div class="button-container">
          <button class="check-active-button" size="m" type="button">
            Active
          </button>
          <button class="check-inactive-button" size="m" type="button">
            Inactive
          </button>
        </div>
      </div>

      <div class="user-list-view-container">
        <div class="content-container">
          <p id="view-content">1 to 3</p>
        </div>
      </div>

      <div class="table-groups-container">
        <table class="table-groups">
          <tr>
            <th>Actions</th>
            <th>Display name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Role</th>
            <th>User type</th>
          </tr>

          <tr>
            <td>
              <span
                class="material-symbols-outlined edit-button"
                (click)="navigateToViewUser()"
              >
                edit
              </span>
              <span class="material-symbols-outlined"> delete </span>
            </td>
            <td>Khoa Bùi</td>
            <td>khoa.bdd14833@example.com</td>
            <td>09xxxxx231</td>
            <td>CEO</td>
            <td>Admin</td>
          </tr>

          <tr>
            <td>
              <span
                class="material-symbols-outlined edit-button"
                (click)="navigateToViewUser()"
              >
                edit
              </span>
              <span class="material-symbols-outlined"> delete </span>
            </td>
            <td>Dương Thùy</td>
            <td>duong.ltt@example.com</td>
            <td>09xxxxx232</td>
            <td>Sale manager</td>
            <td>User</td>
          </tr>

          <tr>
            <td>
              <span
                class="material-symbols-outlined edit-button"
                (click)="navigateToViewUser()"
              >
                edit
              </span>
              <span class="material-symbols-outlined"> delete </span>
            </td>
            <td>Trí Nguyễn</td>
            <td>tri.nguyen@example.com</td>
            <td>09xxxxx233</td>
            <td>Marketing manager</td>
            <td>User</td>
          </tr>
    
          <tr>
            <td>
              <span
                class="material-symbols-outlined edit-button"
                (click)="navigateToViewUser()"
              >
                edit
              </span>
              <span class="material-symbols-outlined"> delete </span>
            </td>
            <td>Việt VD</td>
            <td>viet.VD123@example.com</td>
            <td>09xxxxx234</td>
            <td>Support manager</td>
            <td>User</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template id="add-user-dialog" #addUserDialog let-observer>
  <form
    id="form-container"
    [formGroup]="exampleForm"
    (ngSubmit)="observer.complete()"
  >
    <div class="add-user-container">
      <div class="user-info-container">
        <div class="title-info">User information</div>
        <div class="form-group">
          <div class="box">
            <label for="">Username</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="name"
            >
              Type name
            </tui-input>
          </div>

          <div class="box">
            <label for="">User type</label>
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlUserTypes"
              [stringify]="stringifyUserType"
              tuiTextfieldSize="s"
            >
              Input your user type

              <tui-data-list-wrapper
                *tuiDataList
                [items]="UserTypes | tuiFilterByInputWith : stringifyUserType"
                [itemContent]="stringifyUserType | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box">
            <label for="">Role</label>
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlRoles"
              [stringify]="stringifyRole"
              tuiTextfieldSize="s"
            >
              Select/Type your role

              <tui-data-list-wrapper
                *tuiDataList
                [items]="Roles | tuiFilterByInputWith : stringifyRole"
                [itemContent]="stringifyRole | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box">
            <label for="">Report to</label>
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlReports"
              [stringify]="stringifyReport"
              tuiTextfieldSize="s"
            >
              Select/type option

              <tui-data-list-wrapper
                *tuiDataList
                [items]="Reports | tuiFilterByInputWith : stringifyReport"
                [itemContent]="stringifyReport | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box">
            <label for="">Primary group</label>
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlPrimaryGroups"
              [stringify]="stringifyPrimaryGroup"
              tuiTextfieldSize="s"
            >
              Select/input your group

              <tui-data-list-wrapper
                *tuiDataList
                [items]="
                  PrimaryGroups | tuiFilterByInputWith : stringifyPrimaryGroup
                "
                [itemContent]="stringifyPrimaryGroup | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box">
            <label for="">Password</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="password"
            >
              Type password
            </tui-input>
          </div>

          <div class="box">
            <label for="">Language</label>
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlLanguages"
              [stringify]="stringifyLanguage"
              tuiTextfieldSize="s"
            >
              Select/input your language

              <tui-data-list-wrapper
                *tuiDataList
                [items]="Languages | tuiFilterByInputWith : stringifyLanguage"
                [itemContent]="stringifyLanguage | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>
        </div>
      </div>

      <div class="employee-info-container">
        <div class="title-info">Employee information</div>
        <div class="form-group">
          <div class="box">
            <label for="">First name</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="firstName"
            >
              Type your first name
            </tui-input>
          </div>

          <div class="box">
            <label for="">Last name</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="lastName"
            >
              Type your last name
            </tui-input>
          </div>

          <div class="box">
            <label for="">Second email</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="secondEmail"
            >
              (optional)
            </tui-input>
          </div>

          <div class="box">
            <label for="">Mobile phone</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="phone"
            >
              Type phone number
            </tui-input>
          </div>

          <div class="box">
            <label for="">Office phone</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="phone"
            >
              (optional)
            </tui-input>
          </div>

          <div class="box">
            <label for="">Home address</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="homeAddress"
            >
              (optional)
            </tui-input>
          </div>

          <div class="box">
            <label for="">City</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="city"
            >
              (optional)
            </tui-input>
          </div>

          <div class="box">
            <label for="">State</label>
            <tui-input
              style="outline: none !important"
              class="input-choose-dialog"
              tuiTextfieldSize="s"
              [(ngModel)]="state"
            >
              (optional)
            </tui-input>
          </div>

          <div class="box">
            <label for="">Country</label>
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlCountries"
              [stringify]="stringifyCountry"
              tuiTextfieldSize="s"
            >
              Select/input your country

              <tui-data-list-wrapper
                *tuiDataList
                [items]="Countries | tuiFilterByInputWith : stringifyCountry"
                [itemContent]="stringifyCountry | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>
        </div>
      </div>

      <div class="currency-info-container">
        <div class="title-info">Currency and Number preferences</div>
        <div class="form-group">
          <div class="box-3">
            <label class="title-currency-number" for=""
              >Preferred currency</label
            >
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlPreferredCurrencies"
              [stringify]="stringifyPreferredCurrency"
              tuiTextfieldSize="s"
            >
              Input your preferred currency

              <tui-data-list-wrapper
                *tuiDataList
                [items]="
                  preferredCurrencies
                    | tuiFilterByInputWith : stringifyPreferredCurrency
                "
                [itemContent]="stringifyPreferredCurrency | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box-3">
            <label class="title-currency-number" for=""
              >Digit grouping pattern</label
            >
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlDigitGroupingPatterns"
              [stringify]="stringifyDigitGroupingPattern"
              tuiTextfieldSize="s"
            >
              Input your preferred currency

              <tui-data-list-wrapper
                *tuiDataList
                [items]="
                  digitGroupingPatterns
                    | tuiFilterByInputWith : stringifyDigitGroupingPattern
                "
                [itemContent]="
                  stringifyDigitGroupingPattern | tuiStringifyContent
                "
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box-3">
            <label class="title-currency-number" for=""
              >Decimal separator</label
            >
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlDecimalSeparators"
              [stringify]="stringifyDecimalSeparator"
              tuiTextfieldSize="s"
            >
              Choose your decimal separator

              <tui-data-list-wrapper
                *tuiDataList
                [items]="
                  decimalSeparators
                    | tuiFilterByInputWith : stringifyDecimalSeparator
                "
                [itemContent]="stringifyDecimalSeparator | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box-3">
            <label class="title-currency-number" for=""
              >Digit group separator</label
            >
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlDigitGroupingSeparators"
              [stringify]="stringifyDigitGroupingSeparator"
              tuiTextfieldSize="s"
            >
              Choose your grouping separator

              <tui-data-list-wrapper
                *tuiDataList
                [items]="
                  digitGroupingSeparators
                    | tuiFilterByInputWith : stringifyDigitGroupingSeparator
                "
                [itemContent]="
                  stringifyDigitGroupingSeparator | tuiStringifyContent
                "
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box-3">
            <label class="title-currency-number" for="">Symbol placement</label>
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlDigitGroupingSeparators"
              [stringify]="stringifyDigitGroupingSeparator"
              tuiTextfieldSize="s"
            >
              Choose your symbol

              <tui-data-list-wrapper
                *tuiDataList
                [items]="
                  symbolPlacements
                    | tuiFilterByInputWith : stringifySymbolPlacement
                "
                [itemContent]="stringifySymbolPlacement | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>

          <div class="box">
            <label class="title-currency-number" for="">Currency decimal</label>
            <tui-combo-box
              class="input-choose-dialog"
              [formControl]="controlCurrencyDecimals"
              [stringify]="stringifyCurrencyDecimal"
              tuiTextfieldSize="s"
            >
              Choose your number of currency decimal

              <tui-data-list-wrapper
                *tuiDataList
                [items]="
                  currencyDecimals
                    | tuiFilterByInputWith : stringifyCurrencyDecimal
                "
                [itemContent]="stringifyCurrencyDecimal | tuiStringifyContent"
              ></tui-data-list-wrapper>
            </tui-combo-box>
          </div>
        </div>
      </div>
    </div>

    <div class="cancel-save">
      <button class="button-cancel" type="submit">Cancel</button>
      <button class="button-add" type="submit">Add</button>
    </div>
  </form>
</ng-template>
