img {
  width: 580px;
  height: 340px;
  object-fit: cover;
  object-position: center;
}

.display-no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  background-color: #58C2CE;
  border: none;
  width: 140px;
  height: 33px;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
}

.btn-add span {
  font-weight: 600;
  font-size: 16px;
}

.note-lg {
  font-size: 20px;
  padding: 0;
  margin: 10px;
  color: #2C698D;
}

.note-sm {
  font-size: 16px;
  padding: 0;
  margin: 5px;
  color: #2C698D;
}