<div class="display-no-data">
  <img src="https://s3-alpha-sig.figma.com/img/94df/39a4/511afcf47503f665bf1134d5287644c1?Expires=1693785600&Signature=nONLKRcOYQJxuR41CAG3uMtZCzHY362q2JlbYfKXYIDKrsBl2gatz8xNAeh6MvzkdciszdF~EH7XC3le3tkmuIVHJIOYMsFDnBwKIbKo2fXBNvqB9R863BuXCCpcKC11jdGdaGm5aAQKjZGjunKpfDcebNJSoan7tTVfiyFOy8OHFsmUs0xIPq9qIWPzlLMDL39rO4N8i9s~QxHClOdzo53W5blzldp04~dKVBAnqB6MFQIVX2NeZZ-XBOLKXlG5sBGic1LTK8GHNzJ4oVt6JEeoNCbOmtDKoD5NUUQwEr0y0pODUlv9DV~9e4n0eoxNa3SLOf0yO1spVlwCAE5sWw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="">
  <p class="note-lg">There are not Contacts.</p>
  <p class="note-sm">You can add Contacts by clicking the button below</p> 
  <button class="btn-add">
    <span class="material-symbols-outlined">
      add
      </span>
    Add Contact
  </button>
</div>
