<app-navbar-user-management [tags]="User"></app-navbar-user-management>



<div class="main-container-user">
    <div class="first-container">
        <div class="picture-container">
            <img id="picture" src="https://s3-alpha-sig.figma.com/img/4d47/64ea/ed1c2e4e4a38aff8f709ef39a9b6d216?Expires=1693180800&Signature=VQXMnZDV3kNaN6u64lOQGPM0EjAb5S2jMKiMkJCfW8~gUgO~WQmPDex6cvx4l9R~y3bG4R66oa~gjbnrekSY92hfMx9GAKzqywVL3AW360APdRfZz8CIZLrawvOp24V42KdLrCF5zuSeGQibXczj42BBvJoiPO7mrN-dbchMFrjNBGCHoc0qw5lzHx10vpYmfId9XPMF5zq8W8hPshZHCwINpPH1ZAAV0OsQFGif5p43V4KqKGdZMYtzpYjDybjvTnGAmc0ST1rP7b14R8uS6~mBn1pGa-UrT-hqMxs75TG6P1ce3VdIXRPnDX7bxMP97mKx~CdjRsbufbMFC0Go4A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">
        </div>

        <div class="user-information-container">
            <p id="title-user-information">User Information</p>
            
            <div class="contents-user-info">
                <div class="display-name-container">
                    <p id="title-display">Display name</p>
                    <div id="underline"></div>
                </div>

                <div class="Primary">

                </div>
            </div>
            
        </div>
    </div>
</div>

<router-outlet></router-outlet>