<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="background">
  <div >
    <app-second-navbar [title]="title"></app-second-navbar>
    <!-- THANH NAV THỨ 3 -->
    <app-navbar-events (addEvent)="addEvent()"></app-navbar-events>
   
    <div class="body" >
      <!-- NỘI DUNG TRANG RỖNG-->
      <app-display-no-data-events *ngIf="pageEmpty" (addEvent)="addEvent()"></app-display-no-data-events>
      <!-- TRANG CÓ NỘI DUNG -->
      <app-display-data-events *ngIf="!pageEmpty"></app-display-data-events>
    </div>
  </div>
</div>
