.navbar-contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94%;
  align-items: center;
  padding: 20px 0;
}

.left-navbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.right-navbar {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.btn-list {
  width: 160px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  border: 2px solid #58C2CE;
  color: #58C2CE;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.btn-list span{
  font-size: 18px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.btn-add {
  width: 150px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  background-color: #58C2CE;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  gap: 4px;
}

.btn-add span {
  font-size: 16px;
}

.btn-setting {
  border: none;
  border-radius: 8px;
  width: 33px;
  height: 33px;
  background-color: white;
}

.btn-setting span {
  font-size: 18px;
}

.number-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 10px;
  width: 120px;
  height: 33px;
  border: none;
  color: #999999;
  background-color: white;
  border-radius: 8px;
}

.number-page span {
  font-size: 14px;
}

.list-view {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 80px;
  height: 33px;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.btn-view-table {
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 4px 0px 0px 4px; 
}

.btn-view-table:hover {
  background-color: #a4e2e9;
}

.btn-view-list {
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px; 
}

.btn-view-list:hover {
  background-color: #a4e2e9;
}

.list-view span {
  border: none;
  font-size: 18px;
}

.header {
  display: flex;
  width: 100%;
  height: 12.5rem;
  align-items: center;
  justify-content: center;
  background: #ffdd2d;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  :host-context(tui-root._mobile) & {
      flex-direction: column;
  }
}

// dialog from contacts
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-contacts {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.all-label {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.all-label label {
  font-size: 16px;
  font-weight: 500;
  color: #58C2CE;
}
.all-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.all-input input {
  height: 30px;
  border-radius: 8px;
  border: 1px solid #58C2CE;
  outline: none;
}

#fname {
  width: 500px;
}

#lname {
  width: 500px;
}

#email {
  width: 200px;
}

#phone {
  width: 250px;
}

#orgName {
  width: 200px;
}

#assignTo {
  width: 300px;
}

#lifeCycleStage {
  width: 300px;
}

#status {
  width: 300px;
}
.btn-save {
  border-radius: 8px;
  margin-top: 50px;
  width: 40px;
  height: 40px;
  background-color: #58C2CE;
  width: 100px;
  height: 30px;
  border: none;
  color: white;
}

.title-dialog {
  margin-top: 0;
}

.box-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top: 2px solid #58C2CE;
  height: 530px;
}
