<div class="thirdNavbar">
  <div class="leftNavContent">
    <button class="button">
      <span class="material-symbols-outlined"> filter_list </span>
      <span style="margin: 0 1rem">My {{ title }}</span>
      <span class="material-symbols-outlined"> expand_more </span>
    </button>
    <button
      class="button buttonMainAction"
      (click)="onClick(content, 'auto')"
    >
      <span class="material-symbols-outlined"> add </span>
      <span style="margin: 0 1rem">Add {{ title }}</span>
    </button>
  </div>
  <div class="rightNavContent">
    <button
      class="button buttonRightNavContent"
      style="padding: 0.25rem 1rem; min-width: max-content"
    >
      <span class="material-symbols-outlined"> rule_settings </span>
    </button>
    <button class="button buttonRightNavContent">
      <span class="material-symbols-outlined"> chevron_left </span>
      <span style="margin: 0 1rem">1 to 2</span>
      <span class="material-symbols-outlined"> chevron_right </span>
    </button>
  </div>
</div>
<!--DIALOG CONTACT-->
<ng-template #content let-observer>

  <!--DIV BỰ BAO QUANH CHỨA NỘI DUNG HIỂN THỊ DIALOG-->
  <div class="box-form">

    <!--FORM CHỨA NỘI DUNG HIỂN THỊ NỘI DUNG VÀ CHỈNH SỬA CHIỀU RỘNG CỦA DIALOG-->
    <form [formGroup]="contactsForm" (ngSubmit)="observer.complete()">

      <!--TỰA ĐỂ CHÍNH BỰ CỦA DIALOG CONTACT-->
      <h2 class="title-dialog">Add Contact</h2>

      <!--DIV CHỨA NỘI DUNG CHÍNH CỦA DIALOG-->
      <div class="form-contacts">

        <!--DIV BÊN TRÁI HIỂN THỊ TOÀN BỘ TIÊU ĐỀ THEO DẠNG COLUMN-->
        <div class="all-label">
          <label for="fname">First Name</label>
          <label for="lname">Last Name</label>
          <label for="email">Email</label>
          <label for="phone">Phone</label>
          <label for="orgName">Organization Name</label>
          <label for="assignTo">Assign To</label>
          <label for="lifeCycleStage">LifeycleStage</label>
          <label for="lifeCycleStage">Status</label>
        </div>

        <!--DIV BÊN PHẢI HIỂN THỊ TOÀN BỘ BOX NHẬP THEO DẠNG COLUMN-->
        <div class="all-input">

          <!--FIRSTNAME-->
          <tui-input
            formControlName="firstname"
            type="text"
            id="fname"
            name="firstname"
            tuiTextfieldSize="s"
            [tuiTextfieldLabelOutside]="true"
          >Type here</tui-input>

          <!--LASTNAME-->
          <tui-input
            formControlName="lastName"
            type="text"
            id="lname"
            name="lastname"
            tuiTextfieldSize="s"
            [tuiTextfieldLabelOutside]="true"
          >Type here</tui-input>

          <!--EMAIL-->
          <tui-input
            formControlName="email"
            type="text"
            id="email"
            name="email"
            tuiTextfieldSize="s"
            [tuiTextfieldLabelOutside]="true"
          >Type here</tui-input>

          <!--PHONE-->
          <tui-input-phone-international
            formControlName="phone"
            type="text"
            id="phone"
            name="phone"
            tuiTextfieldSize="m"
            [tuiTextfieldLabelOutside]="true"
            [countries]="(countries | tuiSortCountries | async) || []"
            [(countryIsoCode)]="countryIsoCode"
          >
          Input here
          </tui-input-phone-international>

          <!--ORGANIZATION-->
          <tui-input
            formControlName="organizationName"
            type="text"
            id="orgName"
            name="orgName"
            tuiTextfieldSize="s"
            [tuiTextfieldLabelOutside]="true"
          >Type here</tui-input>

          <!--ASSIGNED TO-->
          <tui-combo-box
            id="assignTo"
            [formControl]="controlAssignments"
            [stringify]="stringifyAssignment"
            tuiTextfieldSize="s"
          >
            Choose/Type here

            <tui-data-list-wrapper
              *tuiDataList
              [items]="assignments | tuiFilterByInputWith : stringifyAssignment"
              [itemContent]="stringifyAssignment | tuiStringifyContent"
            ></tui-data-list-wrapper>
          </tui-combo-box>

          <!--STAGES-->
          <tui-combo-box
            tuiTextfieldSize="s"
            formControlName="lifeycleStage"
            [stringify]="stringifyLife"
            id="lifeCycleStage"
            class="input"
            [tuiTextfieldLabelOutside]="true"
          >
            Choose/Type here
            <tui-data-list-wrapper
              *tuiDataList
              [items]="allLife | tuiFilterByInputWith : stringifyLife"
              [itemContent]="stringifyLife | tuiStringifyContent"
            ></tui-data-list-wrapper>
          </tui-combo-box>

          <!--STATUS-->
          <tui-combo-box
            tuiTextfieldSize="s"
            formControlName="status"
            [stringify]="stringifyStatus"
            id="status"
            class="input"
            [tuiTextfieldLabelOutside]="true"
          >
            Choose here
            <tui-data-list-wrapper
              *tuiDataList
              [items]="allStatus | tuiFilterByInputWith : stringifyStatus"
              [itemContent]="stringifyStatus | tuiStringifyContent"
            ></tui-data-list-wrapper>
          </tui-combo-box>
        </div>
      </div>
    </form>

    <!--DIV CHỨA NÚT CANCEL VÀ SAVE-->
    <div class="cancel-save">
      <button class="button-cancel" type="submit">Cancel</button>
      <button class="button-add" type="submit">Add</button>
    </div>
  </div>
</ng-template>
