<div class="navbar-contacts">
  <div class="container-navbar">
    <div class="left-navbar">
      <button class="btn-list">
        <span class="material-symbols-outlined">
          filter_list
          </span>
        My Contacts
        <span class="material-symbols-outlined">
          expand_more
          </span>
      </button>
      <button  size="m" type="button" class="tui-space_right-2 tui-space_bottom-2 btn-add" (click)="onClick(content, 'auto')">
        <span class="material-symbols-outlined">
          add
          </span>
        Add Contact
      </button>
    </div>
    <div class="right-navbar">
      <button class="btn-setting">
        <span class="material-symbols-outlined">
          rule_settings
          </span>
      </button>
      <div class="list-view">
        <button class="btn-view-table">
          <span class="material-symbols-outlined">
            view_list
            </span>
        </button>
        <button class="btn-view-list">
          <span class="material-symbols-outlined">
            view_stream
            </span>
        </button>
      </div>
      <div class="number-page">
        <span class="material-symbols-outlined">
          arrow_back_ios
          </span>
        <p>1 to 1</p>
        <span class="material-symbols-outlined">
          arrow_forward_ios
          </span>
      </div>
    </div>
  </div>
</div>  

<!-- dialog from contacts -->
<!-- <button class="btn-close" (click)="observer.complete()"></button> -->
<ng-template #content let-observer>
  <h2 class="title-dialog">Add Contact</h2>
    <div class="box-form">
    <form [formGroup]="contactsForm" (ngSubmit)="observer.complete()">
      <div class="form-contacts">   
        <div class="all-label">
          <label for="fname">First Name</label>
          <label for="lname">Last Name</label>
          <label for="email">Email</label>
          <label for="phone">Phone</label>
          <label for="orgName">Organization Name</label>
          <label for="assignTo">Assign To</label>
          <label for="lifeCycleStage">LifeycleStage</label>
          <label for="lifeCycleStage">Status</label>
        </div>    
        <div class="all-input">
          <tui-input formControlName="firstname"  type="text" id="fname" name="firstname" tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true"></tui-input>
          <tui-input formControlName="lastName" type="text" id="lname" name="lastname" tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true"></tui-input>
          <tui-input formControlName="email" type="text" id="email" name="email" tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true"></tui-input>
          <tui-input-phone-international 
            formControlName="phone"  type="text" id="phone" name="phone" 
            tuiTextfieldSize="m" 
            [tuiTextfieldLabelOutside]="true"
            [countries]="(countries | tuiSortCountries | async) || []"
             [(countryIsoCode)]="countryIsoCode">
          </tui-input-phone-international>
          <tui-input formControlName="organizationName"  type="text" id="orgName" name="orgName" tuiTextfieldSize="s" [tuiTextfieldLabelOutside]="true"></tui-input>
          <tui-input formControlName="assignTo" id="assignTo" name="assignTo" tuiTextfieldSize="s"  [tuiTextfieldLabelOutside]="true">
            user or group
            <tui-data-list-wrapper
                *tuiDataList
                [items]="allAss"
                [labels]="labels"
            ></tui-data-list-wrapper>
        </tui-input>
          <tui-combo-box tuiTextfieldSize="s" formControlName="lifeycleStage" [stringify]="stringifyLife" id="lifeCycleStage" class="input"  [tuiTextfieldLabelOutside]="true">
             LifeycleStage
            <tui-data-list-wrapper
                *tuiDataList
                [items]="allLife | tuiFilterByInputWith : stringifyLife"
                [itemContent]="stringifyLife | tuiStringifyContent"
                
            ></tui-data-list-wrapper>
          </tui-combo-box>
          <tui-combo-box tuiTextfieldSize="s" formControlName="status" [stringify]="stringifyStatus" id="status" class="input"  [tuiTextfieldLabelOutside]="true">
            status
            <tui-data-list-wrapper
                *tuiDataList
                [items]="allStatus | tuiFilterByInputWith : stringifyStatus"
                [itemContent]="stringifyStatus | tuiStringifyContent"
            ></tui-data-list-wrapper>
          </tui-combo-box>
        </div>
        </div>
    <button class="btn-save" type="submit">
      Save
  </button>
    </form>
    </div>
</ng-template>






          
          
          
          
          
          