$Blue: #58c2ce;
$Blue2: #2c698d;
$Blue3: #272643;
$Blue0: #bae8e8;
$LightGray: #f2f2f2;

:host{
  --tui-radius-m: 8px !important;
}


//CSS CỦA THANH NAV THỨ 3 --->
.thirdNavbar {
  background-color: #f2f2f2;
  width: 100vw;
  height: 66px;
  border-bottom: 5px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  box-sizing: border-box;
}

.leftNavContent {
  display: flex;
}

.rightNavContent {
  display: flex;
}

.button {
  background-color: #fff;
  color: $Blue;
  min-width: 10rem;
  border-radius: 8px;
  border: 2px solid $Blue;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.buttonMainAction {
  background-color: $Blue;
  color: #fff;
  cursor: pointer;
}

.buttonRightNavContent {
  border: 2px solid #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
//CSS CỦA THANH NAV THỨ 3 <----

/*BẮT ĐẦU STYLE DIALOG*/
//STYLE DIV BAO QUANH CHỨA NỘI DUNG HIỂN THỊ DIALOG
.box-form {
  align-items: center;
  justify-content: center;
  height: fit-content;
}

//FORM DIALOG CONTACT
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 31rem;
}

//STYLE TỰA ĐỀ CHÍNH BỰ
.title-dialog {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.5rem;
  border-bottom: 2px solid #58c2ce;
  color: #2c698d;
  font-weight: 600;
}


//STYLE DIV CHỨA NỘI DUNG CHÍNH CỦA DIALOG
.form-contacts {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

//STYLE DIV HIỂN THỊ TOÀN BỘ TIÊU ĐỀ
.all-label {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.all-label label {
  width: 10rem;
  font-size: 1rem;
  color: #2c698d;
  font-weight: 400;
  margin: 0;
}

//STYLE DIV CHỨA TOÀN BỘ BOX INPUT
.all-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

//FIRST NAME
#fname {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//LAST NAME
#lname {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//EMAIL
#email {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//PHONE
#phone {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//ORG NAME
#orgName {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//ASSIGNED TO
#assignTo {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//ASSIGNED TO
#title {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//STAGES
#lifeCycleStage {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//STATUS
#status {
  width: 16rem;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #58c2ce;
}

//DIV CHỨA NÚT CANCEL VÀ SAVE
.cancel-save {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding-top: 4rem;

  .button-cancel {
    width: 5rem;
    height: 1.875r;
    border-radius: 8px;
    background-color: #ffffff;
    border: 2px solid #58c2ce;
    color: #58c2ce;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: darken($color: white, $amount: 3);
    }
  }

  .button-add {
    width: 5rem;
    height: 1.875rem;
    border-radius: 8px;
    background-color: #58c2ce;
    color: #ffffff;
    border: none;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: darken($color: #58c2ce, $amount: 10);
      color: darken($color: white, $amount: 3);
    }
  }
}
