<div class="navbar-contacts">
  <div class="container-navbar">
    <div class="left-navbar">
      <button class="btn-list">
        <span class="material-symbols-outlined">
          filter_list
          </span>
        My Contacts
        <span class="material-symbols-outlined">
          expand_more
          </span>
      </button>
      <button class="btn-add">
        <span class="material-symbols-outlined">
          add
          </span>
        Add Contact
      </button>
    </div>
    <div class="right-navbar">
      <button class="btn-setting">
        <span class="material-symbols-outlined">
          rule_settings
          </span>
      </button>
      <div class="list-view">
        <button class="btn-view-table">
          <span class="material-symbols-outlined">
            view_list
            </span>
        </button>
        <button class="btn-view-list">
          <span class="material-symbols-outlined">
            view_stream
            </span>
        </button>
      </div>
      <div class="number-page">
        <span class="material-symbols-outlined">
          arrow_back_ios
          </span>
        <p>1 to 1</p>
        <span class="material-symbols-outlined">
          arrow_forward_ios
          </span>
      </div>
    </div>
  </div>
</div>  
