<div class="contentPage">
  <table>
    <tr *ngIf="this.tasks | async">
      <!-- CHECKBOX -->
      <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
        <label class="container">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </th>

      <th style="width: max-content; padding: 0.5rem">
        <span class="material-symbols-outlined">edit_document</span>
      </th>
      <th><b>NAME</b></th>
      <th><b>ASSIGN TO</b></th>
      <th><b>START DATE & TIME</b></th>
      <th><b>DUE DATE & TIME</b></th>
      <th><b>STAGE</b></th>
      <th><b>LOCATION</b></th>
      <th><b>PRIORITY</b></th>
    </tr>

    <tr
      class="visible-data"
      *ngFor="let task of this.tasks | async"
      (click)="showDialog(dialogDetails,'auto',task)"
    >
      <!-- CHECKBOX -->
      <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem">
        <label class="container">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </th>
      <td style="width: 1rem; padding: 0.5rem">
        <span class="material-symbols-outlined">star</span>
      </td>
      <td>{{ task.data.attributes.name }}</td>
      <td>{{ task.data.attributes.assigned_to_c }}</td>
      <td>16-08-2023 01:47 PM</td>
      <td>26-08-2023 12:00 AM</td>
      <td>{{ task.data.attributes.status }}</td>
      <td>{{ task.data.attributes.location_c }}</td>
      <td>{{ task.data.attributes.priority }}</td>
    </tr>
  </table>
</div>

<!-- DIALOG MAIN -->
<ng-template id="dialogDetails" #dialogDetails let-observer>
  <!--FORM CHỨA NỘI DUNG HIÊN THỊ CỦA DIALOG-->
  <form
    id="form-container-details"
    [formGroup]="exampleForm"
    (ngSubmit)="observer.complete()"
  >
    <!--TỰA ĐỀ BỰ CỦA DIALOG-->
    <p id="header-dialog-details">Task Details</p>

    <div class="content-dialog-details">

    </div>

  </form>
</ng-template>
