<div class="contentPage">
    <table>
        <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>

            <th style="width: max-content; padding: 0.5rem;"><span class="material-symbols-outlined">edit_document</span></th>
            <th><b>CASE TITLE</b></th>
            <th style="padding-left: 2.5rem;"><b>STATUS</b></th>
            <th ><b>PRIORITY</b></th>
            <th><b>CONTACT NAME</b></th>
            <th><b>ORGANIZATION NAME</b></th>
            <th><b>RESOLUTION DUE</b></th>
          </tr>

          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>
            <td>Product not working</td>
            <td><div class="status waitForCustomer">Wait For Customer</div></td>
            <td><div class="priority urgent"><span class="material-symbols-outlined">flag</span><span style="padding-top: 0.2rem;">Urgent</span></div></td>
            <td></td>
            <td></td>
            <td>-119d 23h 18m</td>
          </tr>

          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>
            <td>Product not working</td>
            <td><div class="status waitFor3rdParty">Wait For 3rd Party</div></td>
            <td><div class="priority high"><span class="material-symbols-outlined">flag</span><span style="padding-top: 0.2rem;">High</span></div></td>
            <td></td>
            <td></td>
            <td>-119d 23h 18m</td>
          </tr>
          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>
            <td>Product not working</td>
            <td><div class="status open">Open</div></td>
            <td><div class="priority medium"><span class="material-symbols-outlined">flag</span><span style="padding-top: 0.2rem;">Medium</span></div></td>
            <td></td>
            <td></td>
            <td>-119d 23h 18m</td>
          </tr>

          <tr>
            <!-- CHECKBOX -->
            <th style="width: 2rem; padding: 0 1.5rem 1rem 2rem;"><label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label></th>
            <td style="width: 1rem; padding: 0.5rem;"><span class="material-symbols-outlined">star</span></td>
            <td>Product not working</td>
            <td><div class="status assigned">Assigned</div></td>            
            <td><div class="priority low"><span class="material-symbols-outlined">flag</span><span style="padding-top: 0.2rem;">Low</span></div></td>
            <td></td>
            <td></td>
            <td>-119d 23h 18m</td>
          </tr>

          
    </table>
  </div>