<app-first-navbar></app-first-navbar>
<div class="than">
  <div class="left">
    <img
      id="photo"
      src="https://i.ibb.co/NpSq3Sb/nh-m-n-h-nh-2023-08-21-l-c-15-58-13.png"
    />
  </div>
  <div class="right">
    <div class="khunglogin">
      <div class="chulogin">
        <p>SIGN UP</p>
        <div class="editlogo">
          <a
            ><img
              id="logoBridge"
              src="https://i.ibb.co/51mZfNZ/nh-m-n-h-nh-2023-08-19-l-c-13-42-10.png"
          /></a>
        </div>
      </div>


      <form [formGroup]="myForm">
        <div class="first-name">
          <input [formControl]="firstName" class="login-content" type="email" placeholder="First name..." />
        </div>
        <div class="last-name">
          <input [formControl]="lastName" class="login-content" type="email" placeholder="Last name..." />
        </div>
        <div class="Email">
          <input [formControl]="email" class="login-content" type="email" placeholder="Email..." />
        </div>
        <div class="Username">
          <input [formControl]="userName" class="login-content" type="text" placeholder="Username..." />
        </div>
        <div class="Password">
          <input [formControl]="password" class="login-content" type="password" placeholder="Password..."/>
        </div>
      </form>
      <div class="nutlogin" (click)="signup()">
        <p>SIGN UP</p>
      </div>
      <div class="gachthang">
        <p>______________________</p>
      </div>
      <div class="loginwithgg">
        <img
          style="width: 1.5625rem; height: 1.5625rem"
          src="https://i.pinimg.com/originals/74/65/f3/7465f30319191e2729668875e7a557f2.png"
          alt=""
        />
        <p>Login with Google</p>
      </div>
    </div>
  </div>
</div>
