.right{
    width: 40%;
    height:100%;
    background-color: white;
    display: flex;
    flex-direction: coloumn;
    justify-content: center;
}
.left{
    margin-top: 2rem;
    width: 60%;
    display: flex;
    flex-direction: coloumn;
    justify-content: center;
}
#design{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
}
.body{
    width: 100%;
    height: 50rem;
    background-color: white;
    display: flex;
    flex-direction: coloumn;

}

.frameSignup{
    width: 24rem;
    height: 35rem;
    background-color: white;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.textSignup{
    color: #58C2CE;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
}
#logoBridge{
    width: 4rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 1.8rem;

}
.fullname{
    width:18.75rem ;
    height: 3.125rem;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    justify-content: center;
    
}
.Email{
    width:18.75rem ;
    height: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
}
.Password{
    width:18.75rem ;
    height: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
}
.buttonSignup{
    width:19.5rem ;
    height: 3.125rem;
    background-color: #58C2CE;;
    border-radius: 0.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;

}
.signupwithgg{
    width:18.75rem ;
    height: 3.125rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: #58C2CE;
    border: 1px solid #58C2CE;
    margin-top: 1rem;
}
.theWay{
    width: 18.75rem;
    height: 2rem;
    color: #58C2CE;;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
