<app-first-navbar></app-first-navbar>
<div class="body">
  <div class="left">
    <a href="https://ibb.co/8bjZZQX"
      ><img
        id="design"
        src="https://i.ibb.co/gdDKKc6/nh-m-n-h-nh-2023-08-19-l-c-13-53-50.png"
        alt="nh-m-n-h-nh-2023-08-19-l-c-13-53-50"
        border="0"
    /></a>
  </div>
  <div class="right">
    <div class="frameSignup">
      <div class="textSignup">
        <p>SIGN UP</p>
        <a href="https://imgbb.com/"
          ><img
            id="logoBridge"
            src="https://i.ibb.co/51mZfNZ/nh-m-n-h-nh-2023-08-19-l-c-13-42-10.png"
            alt="nh-m-n-h-nh-2023-08-19-l-c-13-42-10"
            border="0"
        /></a>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
          rel="stylesheet"
        />
      </div>
      <div class="fullname">
        <input
          style="
            width: 18.75rem;
            height: 3.175rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            border: 1px solid #58c2ce;
          "
          placeholder="Full Name"
          type="Email"
        />
      </div>
      <div class="Email">
        <input
          id="Email-input"
          style="
            width: 18.75rem;
            height: 3.175rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            border: 1px solid #58c2ce;
          "
          placeholder="Email"
          type="Password"
        />
      </div>
      <div class="Password">
        <input
          style="
            width: 18.75rem;
            height: 3.175rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            border: 1px solid #58c2ce;
          "
          placeholder="Password"
          type="Password"
        />
      </div>
      <div class="buttonSignup">
        <p>SIGN UP</p>
      </div>
      <div class="theWay">
        <p>______________________</p>
      </div>
      <div class="signupwithgg">
        <img
          style="width: 1.5625rem; height: 1.5625rem"
          src="https://i.pinimg.com/originals/74/65/f3/7465f30319191e2729668875e7a557f2.png"
          alt=""
        />
        <p>Sign up with Google</p>
      </div>
    </div>
  </div>
</div>
