<app-first-navbar></app-first-navbar>
<div class="than">
  <div class="left">
    <img
      id="photo"
      src="https://i.ibb.co/NpSq3Sb/nh-m-n-h-nh-2023-08-21-l-c-15-58-13.png"
    />
  </div>
  <div class="right">
    <div class="khunglogin">
      <div class="chulogin">
        <p>SIGN UP</p>
        <div class="editlogo">
          <a
            ><img
              id="logoBridge"
              src="https://i.ibb.co/51mZfNZ/nh-m-n-h-nh-2023-08-19-l-c-13-42-10.png"
              alt="nh-m-n-h-nh-2023-08-19-l-c-13-42-10"
              border="0"
          /></a>
        </div>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
          rel="stylesheet"
        />
      </div>

      <div class="Email">
        <input class="login-content" type="email" placeholder="Email..." />
      </div>
      <div class="Username">
        <input class="login-content" type="text" placeholder="Username..." />
      </div>
      <div class="Password">
        <input
          class="login-content"
          type="password"
          placeholder="Password..."
        />
      </div>
      <!-- <div class="remember">
        <form [formGroup]="testForm">
          <tui-checkbox formControlName="testValue1" id="check" ></tui-checkbox>
        </form>
        <div>
          <p class="churemember">Remember Account</p>
        </div>
      </div> -->
      <div class="nutlogin">
        <p>SIGN UP</p>
      </div>
      <div class="gachthang">
        <p>______________________</p>
      </div>
      <div class="loginwithgg">
        <img
          style="width: 1.5625rem; height: 1.5625rem"
          src="https://i.pinimg.com/originals/74/65/f3/7465f30319191e2729668875e7a557f2.png"
          alt=""
        />
        <p>Login with Google</p>
      </div>
      <!-- <div class="forgotpassword">Forgot Your Password?</div> -->
    </div>
  </div>
</div>
