<div class="thirdNavbar">
  <div class="leftNavContent">
    <button class="button">
      <span class="material-symbols-outlined"> filter_list </span>

      <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
      <span style="margin: 0 1rem">My Event</span>

      <span class="material-symbols-outlined"> expand_more </span>
    </button>

    <button class="button buttonMainAction">
      <span class="material-symbols-outlined"> add </span>

      <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
      <span style="margin: 0 1rem" (click)="emitAddTask()">Add Event</span>
    </button>
  </div>
  <div class="rightNavContent">
    <button
      class="button buttonRightNavContent"
      style="padding: 0.25rem 1rem; min-width: max-content"
    >
      <span class="material-symbols-outlined"> rule_settings </span>
    </button>

    <button class="button buttonRightNavContent">
      <span class="material-symbols-outlined"> chevron_left </span>

      <!-- THAY ĐỔI CHỮ DƯỚI THÀNH NỘI DUNG CỦA TRANG -->
      <span style="margin: 0 1rem">1 to 2</span>

      <span class="material-symbols-outlined"> chevron_right </span>
    </button>
  </div>
</div>