$Blue : #58c2ce;
$Blue2: #2C698D;
$Blue3: #272643;
$Blue0: #BAE8E8;
$LightGray:#F2F2F2;

//CSS CỦA THANH NAV THỨ 3 --->
.thirdNavbar{
    background-color: #F2F2F2;
    width: 100vw;
    height: 66px;
    border-bottom: 5px solid #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 3rem;
    box-sizing: border-box;
}

.leftNavContent{
    display: flex;
}

.rightNavContent{
    display: flex;
}

.button{
    background-color: #fff;
    color: $Blue;
    min-width: 10rem;
    border-radius: 8px;
    border: 2px solid $Blue;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buttonMainAction{
    background-color:$Blue ;
    color: #fff;
    cursor: pointer;
}

.buttonRightNavContent{
    border: 2px solid #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
//CSS CỦA THANH NAV THỨ 3 <----

.body{
    background-color: $LightGray;
    width: 100vw;
    min-height: 76vh;
    max-height: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
}

//CSS CỦA TRANG RỖNG
.emptyPage{
    margin-top: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto
}

//SIZE CỦA ẢNH, MN TỰ CHỈNH SỬA BẰNG VH VÀ VW CHO THÍCH HỢP
.emptyPageImage{
    height: 45vh;
    width: 60vh;
}
.emptyPageContentContainer{
    margin-top: 2rem;
    display: block;
}
.emptyPageContent{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    color: $Blue2;
    font-size: medium;
}

//CSS CỦA TRANG CÓ NỘI DUNG
table{
    background-color: #fff;
    width: 100vw
}
tr{
    padding: 0.5rem 3rem;
    align-items: center;
    border-bottom: 1px solid $LightGray;
}
th{
    padding: 0.5rem 3rem;
    text-align: left;
    color: $Blue2;
    width: 10rem;
    align-items: center;
}
td{
    padding: 0.5rem 3rem;
    color: $Blue2;
    width: 10rem;
    align-items: center;
}

//CSS CỦA CHECKBOX - COPY TRÊN MẠNG TỐT NHẤT ĐỪNG ĐỤNG VÀO
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #eee;
    border-radius: 4px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $Blue;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }