<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div>
  <app-second-navbar [title]="title"></app-second-navbar>
  <div class="main-contents-container">
    <div class="buttons-container">
      <div class="over-my-orgs-filter">
        <div class="my-orgs-filter">My Orgs</div>
        <div class="editnone">
          <div class="none"></div>
        </div>
      </div>
      <div class="over-buttons">
        <div class="none2"></div>
        <div class="add-organization-button">Add Organization</div>
        <div class="switch-button">
          <button class="check-active-button" size="m" type="button">
            <span class="material-symbols-outlined"> list_alt </span>
          </button>
          <button class="check-inactive-button" size="m" type="button">
            <span class="material-symbols-outlined"> account_tree </span>
          </button>
        </div>
        <div class="sync-button">
          <button class="check-sync-button" size="m" type="button">
            <span class="material-symbols-outlined"> question_exchange </span>
            <p>Sync</p>
          </button>
        </div>
        <div class="setting-button">
          <button class="check-setting-button" size="m" type="button">
            <span class="material-symbols-outlined"> settings </span>
          </button>
        </div>
        <!-- <div class="page-button"></div> -->
      </div>
    </div>

    <!-- <div class="organization-information">
      <div class="information-left">
      </div>
      <div class="information-right">
        <div class="organization-name">ORGANIZATION</div>
        <div class="organization-email">EMAIL</div>
        <div class="organization-website">WEBSITE</div>
        <div class="organization-phone">PHONE</div>
        <div class="organization-assign-to">ASSIGN TO</div>
        <div class="organization-billing-city">BILLING CITY</div>
        <div class="organization-billing-country">BILLING COUNTRY</div>
      </div>
    </div> -->
  </div>
</div>
<div class="over-main">
  <div class="main">
    <div class="main-top">
      <img
        style="width: 60%; height: 40rem"
        src="https://s3-alpha-sig.figma.com/img/94df/39a4/511afcf47503f665bf1134d5287644c1?Expires=1693785600&Signature=nONLKRcOYQJxuR41CAG3uMtZCzHY362q2JlbYfKXYIDKrsBl2gatz8xNAeh6MvzkdciszdF~EH7XC3le3tkmuIVHJIOYMsFDnBwKIbKo2fXBNvqB9R863BuXCCpcKC11jdGdaGm5aAQKjZGjunKpfDcebNJSoan7tTVfiyFOy8OHFsmUs0xIPq9qIWPzlLMDL39rO4N8i9s~QxHClOdzo53W5blzldp04~dKVBAnqB6MFQIVX2NeZZ-XBOLKXlG5sBGic1LTK8GHNzJ4oVt6JEeoNCbOmtDKoD5NUUQwEr0y0pODUlv9DV~9e4n0eoxNa3SLOf0yO1spVlwCAE5sWw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt=""
      />
    </div>
    <div class="main-between">
      <div class="text1">
        <p>There are no Organization.</p>
      </div>
      <div class="text2">
        <p>You can add Organizations by clicking the button below</p>
      </div>
    </div>
    <div class="main-bottom">
      <div class="add-organization-button-center">Add Organization</div>
    </div>
  </div>
</div>
