$Blue : #58c2ce;
$Blue2: #2C698D;
$Blue3: #272643;
$Blue0: #BAE8E8;
$LightGray:#F2F2F2;

//CSS CỦA THANH NAV THỨ 3 --->
.thirdNavbar{
    box-sizing: border-box;
    background-color: #F2F2F2;
    width: 100vw;
    height: 66px;
    border-bottom: 5px solid #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 3rem;
    box-sizing: border-box;
}

.leftNavContent{
    box-sizing: border-box;
    display: flex;
}

.rightNavContent{
    box-sizing: border-box;
    display: flex;
}

.button{
    box-sizing: border-box;
    background-color: #fff;
    color: $Blue;
    min-width: 10rem;
    border-radius: 8px;
    border: 2px solid $Blue;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.buttonMainAction{ 
    background-color:$Blue ;
    color: #fff;
    cursor: pointer;
}

.buttonRightNavContent{
    box-sizing: border-box;
    border: 2px solid #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
//CSS CỦA THANH NAV THỨ 3 <----