$Blue: #58c2ce;
$Blue2: #2c698d;
$Blue3: #272643;
$Blue0: #bae8e8;

.container {
  // border: 2px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1.5rem;
  align-items: center;
}

.table {
  border: 2px solid $Blue;
  width: 100%;
  height: max-content;
  border-radius: 10px;
  background-color: $Blue0;
  box-sizing: border-box;
  min-height: 5rem;
}

.title {
  background-color: $Blue;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0.1rem;
}

.viewButtonHeader {
  display: flex;
  justify-content: center;
}

.viewButtonContainer {
  display: flex;
}

.treeButton {
  width: 6.25rem;
  height: 2.7rem;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 2px solid #58c2ce;
  border-right: none;
  background-color: #58c2ce;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: darken($color: #58c2ce, $amount: 10);
    color: darken($color: white, $amount: 3);
  }
}

.listButton {
  width: 6.25rem;
  height: 2.7rem;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid #58c2ce;
  background-color: #ffffff;
  color: #58c2ce;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
      background-color: darken($color: white, $amount: 3);
  }
}

.collumn {
  align-items: center;
  min-width: 20%;
  max-width: max-content;
  padding: 1rem;
}

.field {
  background-color: white;
  color: $Blue3;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // border-radius: 8px;
  margin: 0.1rem 0;
}

.footer {
  background-color: $Blue;
  box-sizing: border-box;
  padding: 1rem 0;
  border-radius: 0 0 8px 8px;
  margin-top: 0.1rem;
}

.licenseType {
  min-width: 15%;
}

.action {
  min-width: 10%;
}

.content-groups {
  width: 95%;
}

.page-button {
  display: flex;
  justify-content: end;
  width: 85%;
}

.page-button button {
  width: 100px;
  height: 35px;
  background-color: #58c2ce;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #58c2ce;
  align-items: center;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: darken($color: #58c2ce, $amount: 10);
    color: darken($color: white, $amount: 3);
  }
}

.btn-add-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-add-group span {
  font-size: 18px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: 1px solid #58c2ce;
  border-radius: 8px;
}
th {
  background-color: #58c2ce;
  color: #ffffff;
}
th,
td {
  padding: 10px;
  border: 1px solid #9cc9ce;
  text-align: left;
  border-right: none;
  border-left: none;
}

th:first-child {
  padding-left: 30px;
}
td:first-child {
  padding-left: 30px;
}

.edit {
  cursor: pointer;
}

//Dialog
.cancel-save {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
}

.btn-cancel {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 2px solid #58c2ce;
  color: #58c2ce;
  font-size: 14px;
  cursor: pointer;
}

.btn-cancel:hover {
  color: #ffffff;
  background-color: #58c2ce;
}

.btn-save {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: #58c2ce;
  color: #ffffff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.btn-save:hover {
  color: #58c2ce;
  background-color: #ffffff;
  border: 2px solid #58c2ce;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.box label {
  color: #2c698d;
  font-size: 16px;
  font-weight: 510;
}
.box input {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 1px dashed #58c2ce;
  outline: none;
}

.box-gmember {
  display: flex;
  flex-direction: row;
  gap: 130px;
}

.box-gmember label {
  color: #2c698d;
  font-size: 16px;
  font-weight: 510;
}

.box-gmember input {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 1px dashed #58c2ce;
  outline: none;
}

.color-roles {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}
.users {
  width: 220px;
  height: 30px;
  background-color: #f46363;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.groups {
  width: 220px;
  height: 30px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.roles {
  width: 220px;
  height: 30px;
  background-color: #fff278;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.roles-sub {
  width: 220px;
  height: 30px;
  background-color: #58c2ce;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
