<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<app-navbar-user-management></app-navbar-user-management>
<div class="Body" style="display: flex; height: 100%">
  <app-sidebar></app-sidebar>
  
  <div class="container">
    <div class="viewButtonHeader">
      <div class="viewButtonContainer">
        <button class="treeButton" type="button">Tree View</button>
        <button class="listButton" type="button">List View</button>
      </div>
    </div>
  </div>

</div>
