<div
  class="NavBar1"
  style="height: 70px; width: 100%; background-color: blue"
></div>
<div
  class="NavBar2"
  style="height: 70px; width: 100%; background-color: lightblue"
></div>

<div class="Body" style="display: flex">
  <div class="SideBar" style="width: 189px; background-color: blue"></div>
  <div class="container">

    <div class="table">
        <div class="title">
            <div class="collumn action">ACTION</div>
            <div class="collumn">ROLE</div>
            <div class="collumn">PARENT ROLE</div>
            <div class="collumn licenseType">LICENSE TYPE</div>
            <div class="collumn">CAN ASSIGN RECORD TO</div>
        </div>

        <div class="field">
            <div class="collumn action"></div>
            <div class="collumn">CEO</div>
            <div class="collumn">Organization</div>
            <div class="collumn  licenseType">Standard</div>
            <div class="collumn">All Users & All Groups</div>
        </div>

        <div class="field">
            <div class="collumn action"></div>
            <div class="collumn">IT Consultant</div>
            <div class="collumn">CEO</div>
            <div class="collumn  licenseType">Standard</div>
            <div class="collumn">Same Role Members & All Groups</div>
        </div>

        <div class="field">
            <div class="collumn action"></div>
            <div class="collumn">VP of Sales</div>
            <div class="collumn">CEO</div>
            <div class="collumn  licenseType">Standard</div>
            <div class="collumn">All Users & All Groups</div>
        </div>

        <div class="field">
            <div class="collumn action"></div>
            <div class="collumn">VP of Customer Service</div>
            <div class="collumn">CEO</div>
            <div class="collumn  licenseType">Standard</div>
            <div class="collumn">Same Role Members & All Groups</div>
        </div>

        <!-- <div class="field" *ngFor="let item of list">
            <div class="collumn"></div>
            <div class="collumn">{{item.roleName}}</div>
            <div class="collumn">{{item.parentRole}}</div>
            <div class="collumn licenseType">{{item.license}}</div>
            <div class="collumn">{{item.canAssignTo}}</div>
        </div> -->

        <div class="footer"></div>
    </div>


  </div>
</div>